In [1]:
1+1+1+1

4

In [2]:
print('Hello world')

Hello world

In [3]:
age = 20
#대입/할당(assign): 변수명=값

In [4]:
print(age)
print(age)

20
20

In [5]:
my_age =15
print(my_age)

15

In [6]:
a = b = c = 10

# 데이터 타입
값(데이터)의 종류를 분류한것

## 데이터 타입의 종류
-숫자형
    -정수형(int, integer)
    -실수형(float)
    
-논리형 (bool, blean) - 참/거짓

-문자열 (str, string) - 글자

-None (리터럴값) - 없다.

## 숫자형

In [7]:
age = 30
tall = 175.3

In [8]:
type(age)  # age 변수의 데이터 타임?

int

In [9]:
type(tall)

float

In [10]:
1+10

11

In [11]:
10 - age #10 - 30 (변수 age의 값)

-20

In [12]:
10*20

200

In [13]:
10**2

100

In [14]:
10 / 3 #나누기

3.3333333333333335

In [15]:
10 // 3  # 몫

3

In [16]:
10 % 3  # 나머지 연산 (모듈러스 연산자 /배수를 알고 싶을 때 사용한다.)

1

# 논리형

In [17]:
b1 = True
b2 = False

In [18]:
print(b1)
print(b2)

True
False

In [19]:
#다른 타입의 값을 논리형으로 변환 bool(값)
#False:  숫자 : 0///0.0, 문자열 : ""(빈문자열-0글자), None
#True:나머지

In [20]:
bool(10)

True

In [21]:
bool(-10)

True

In [22]:
bool(0)

False

In [23]:
bool("")

False

In [24]:
bool(" ") #공백 1글자

True

In [25]:
bool("jsldfkjkljl")

True

In [26]:
bool(None)

False

In [27]:
#int(값) =>정수로 변환. 값: 실수, 논리형

In [28]:
int(True) #True는 정수 1로 변환

1

In [29]:
int(False) # False 는 정수 0으로 변환

0

In [30]:
#비교연산자 ->  결과가 논리형 
3>5

False

In [31]:
3 >= 5

False

In [32]:
3 > = 5 #연산자 끼리 띄어쓰기 X

SyntaxError: invalid syntax (<ipython-input-32-1a71111d00a9>, line 1)

In [ ]:
5 == 5

In [ ]:
5 != 5

In [ ]:
num = int(input("입력: "))

In [ ]:
num > 5

In [ ]:
"a" > "b"  #뒤쪽 단어가 더 크다고 생각하면 됨// 아스키 코드

In [ ]:
"abc" > "abk"

In [ ]:
# 논리 연산자: 피연산자/ 결과가 논리형

In [ ]:
True & True

In [33]:
True & False

False

In [34]:
True and False

False

In [35]:
True | False

True

In [36]:
True | True

True

In [37]:
False | True

True

In [38]:
False or False

False

In [39]:
3 > 2 and 5 < 3

False

In [40]:
3 > 2 & 5 <3   # 드래그 블럭으로 쳐서 괄호 여는 것만 쳐주면 자동으로 묶인다.// 기호를 쓸때는 &를 쓸때는 괄호로 묶ㅇ어야 된다

True

In [41]:
(3 > 2) & (5 <3) # 괄호로 묶어줘야 정상적인 값을 얻는다. (그냥 True,False 일때는 and,& 사용 가능 //and, or 주의 하기 )

False

In [42]:
(3 > 2) | (5 < 3)

True

In [43]:
True ^ False

True

In [44]:
True ^True

False

In [45]:
False ^ False #(xor 로 입력하면 안됨)

False

In [46]:
not False

True

In [47]:
not False

True

In [48]:
not (num == 0)

NameError: name 'num' is not defined

In [ ]:
num !=0

In [ ]:
num = - 10

In [ ]:
#참V if 조건 else 거짓V     외우기

In [ ]:
"음수" if num < 0 else  "양수"  # 조건 (num < 0 이 True 이면 "음수를" False면 "양수"를 반환)

# None

값 없음. null

In [ ]:
name = None # 이름이 없다. // 나중에 이름이 정해져서 이름을 설정하면 재할당이 된다.

In [ ]:
print(name)

In [ ]:
name = '홍길동'
#name = none    *재할당  하면 홍길동 없어짐

In [ ]:
print(name)

In [ ]:
name = None
name = '홍길동'
bool(name)

In [ ]:
name if bool(name) else "이름 없음" #이름이 있으면 그이름을 반환 없으면 "이름없음"이 반환.

In [ ]:
name = "" #False
bool(name)

## 문자열( string)

In [ ]:
name = "홍길동"

In [ ]:
name = '홍길동'

In [ ]:
txt = "i'm a boy"

In [ ]:
print(txt)

In [ ]:
txt2 = '길동이가 말했다. "안녕"'

In [ ]:
print(txt2)

In [ ]:
txt = "안녕하세요.\n반갑습니다.\n저는 김대민입니다."
print(txt)

In [ ]:
txt2= """안녕하세요 
반갑습니다.
저는 김대민입니다."""
print(txt2)    #작은 따옴표 3개도 상관없음

In [ ]:
# 문자열 + 문자열 => 두문자열을 합친다.
"abc" + "def"

In [ ]:
name = "홍길동"  #이름 :홍길동
value = "이름: "+ name
print(value)

In [ ]:
#str(값) => 값을 문자열로 변환
age = 20  #나이 : 20// 숫자와 문자열 을 "+" 할 수 없기 때문에 숫자 "20"을 문자열로 바꿔준다.(str을 이용해서)!
value = "나이: "+ str(age)

print(value)

In [ ]:
str(True)   #True => "True"//// bool 이 문자열로 바뀌는 것이다.

In [ ]:
str(3.45) #3.45 => "3.45"

In [ ]:
bool(3.45)

In [ ]:
"3.45" + 10

In [ ]:
"3.45"+"10"

In [ ]:
float("3.45")+ 10  #  문자열을 "실수" 타입으로 맞춰 준다./// 타입을 맞춰야 연산이 가능하다.

In [ ]:
"-"*3

In [ ]:
"abc" * 10

In [49]:
print('이름: 홍길동')
print('-'*20)
print('주소' )

이름: 홍길동
--------------------
주소

In [50]:
"he" in "hello"

True

In [51]:
"he" not in "hello"

False

In [52]:
"abc" not in "hello"

True

In [53]:
address = "서울시 강남구 서초동"
"서초" in address

True

In [54]:
"종로" in address

False

In [55]:
len(address) # 글사수 // 공백 1글자 임 .

11

In [56]:
member_id = "abc"
"사용가능" if len(member_id) > 5 else "사용불가"

'사용불가'

In [57]:
#indexing: 여러개중의 하나 조회,   slicing: 여러개 중의 범위로 조회(한글자도 가능)

In [58]:
"안녕하세요. 반갑습니다."  # index 글자 순서 /음수, 양수 다 셀수 있고 값을 2개씩 갖고 있다. 뒤에서 부터  셀때는 음수 이다./pdf P24 참고

'안녕하세요. 반갑습니다.'

### 문자열 indexing, slicing

In [59]:
value = "안녕하세요. 반갑습니다."
print(len(value))

13

In [60]:
print(value[0])

안

In [61]:
print(value[3])

세

In [62]:
print(value[-1])

.

In [63]:
print(value[-5])

갑

In [64]:
print(value[15])  #인덱스 수 이상으로 가면 index error/// 슬라이싱이랑 비교하기

IndexError: string index out of range

In [ ]:
print(value[-20])

In [ ]:
value[0]= '가'  # '0' 번 위치의 문자에 '가'를 대입하라는 명령이고 불가능 하다.

In [ ]:
value = "안녕하세요. 반갑습니다."
value[0:4]  # 0 ~ 4-1  (0 ~ 3 번 인덱스만 나옴)    종료 인덱스는 포함 안됨// 끝은 항상 포함 안됨 python에서

In [ ]:
print(value[0:5:2])  ##간격 +2  지정  p25 참고

In [ ]:
print(value[:5])    # 시작 index 생략 => 0부터 시작

In [ ]:
print(value [7:])   #끝 index 생략 => 끝까지 가져온다.  // 스텝 " : " 은 생략 가능하지만 나머지는 안됨

In [ ]:
"안녕하세요. 반갑습니다."

In [ ]:
print(value[3:-2])

In [ ]:
print(value[-1:-13])  #간격(step) 생략 : 1이 기본값 무조건 증가 +1이다.   그래서 -1, 0 ,1 이런식으로 증가하기 때문에 출력할 값이 없다.

In [65]:
print(value[-1::-1])      #간격을 -1호 지정해야됨// 종료인덱스는  -13이지만 전체 문장을 다 print 하기위해서 -14로 입력한다.

.다니습갑반 .요세하녕안

In [66]:
print(value[:])   #   = print(value)     P25 참고

안녕하세요. 반갑습니다.

In [67]:
x

NameError: name 'x' is not defined

In [ ]:
value = "안녕하세요. 반갑습니다."

In [ ]:
print(value[-1:-4:-1])#중요!간격(step) 생략 : 1이 기본값 무조건 증가 +1이다.   그래서 -1, 0 ,1 이런식으로 증가하기 때문에 출력할 값이 없다.

In [ ]:
print(value[1:-1])

## 문자열 포메팅

***방법1

In [ ]:
my_format = "이름: {}, 나이: {}, 주소: {}"
f1 = my_format.format('홍길동', 30, "서울")
print(f1)

In [ ]:
f2 = my_format.format('김철수', 56, "서울")
f3 = my_format.format('이영희', 25, "서울")

In [ ]:
print(f2)

In [ ]:
print(f3)

***방법2

In [ ]:
my_format2 = "이름: {name}, 나이: {age}, 주소: {address}"
f4 = my_format2.format(name="김대민", age=32, address="의정부")
print(f4)    ## 주로 변수가 많을때 지정해서 넣을 수있어서 순서 상관없이 명확히 가능하다. // 재사용할때 좋다.

In [ ]:
my_format3 = "이름: {name}, 나이: {age}, 주소: {address}, 이름: {name}, 이름: {name}"
f5 = my_format3.format(name="철수", age=2, address="서울")
print(f5)

**방법3

In [ ]:
name = '홍길동'
age = 50
address = "인천"

In [ ]:
my_formet = "이름: {}, 나이:{}, 주소:{}"
print(my_formet.format(name, age, address))

** 방법 4(python 3.6에서 추가 )

In [68]:
name = '김철민'
age = 50
address = "강원도"

In [69]:
print(f"이름: {name}, 나이:{age}, 주소:{address}")  # 한번만 사용할때 정보를 알고    P27 참고

이름: 김철민, 나이:50, 주소:강원도

* 방법 5

In [70]:
print("이름 : %s, 나이 : %d, 키: %f 주소 : %s"   %  ("홍길동",20, 265.98, "서울"))  #문자 타입이 안맞으면 error가 발생한다.(문자열은 상관없음)

이름 : 홍길동, 나이 : 20, 키: 265.980000 주소 : 서울

In [71]:
print("이름 : %s, 나이 : %d, 키: %.2f 주소 : %s  %d%%"   %  ("5787683",20, 265.98, "서울", 50))   #.2 소수점 2자리까지//기본 6자리 설정

이름 : 5787683, 나이 : 20, 키: 265.98 주소 : 서울  50%

In [72]:
# 함수 사용  len()// 처리 대상 안녕하세요
len("안녕하세요")

5

In [73]:
#메소드 사용 - format()  // 처리대상 my_format  //처리 대상을 처리하기위한 부가 적인...format/ 
my_format.format(1,2,3)

NameError: name 'my_format' is not defined

메서드는 무언가(인스턴스)를 가져와서 호출해서 처리. 무언가.메서드()형태

In [ ]:
my_format



## string 주요 메소드

In [ ]:
value = "사과, 귤, 수발, 복숭아"
result = value.split(",")     # , 를 기준으로 value의 문자열을 여ㅕ러개로 나눠라.
result

In [ ]:
value = "사과/ 귤/ 수발/ 복숭아"
value.split("/")

In [ ]:
value = "파이썬 자바 c 루비"
result=value.split(" ")  # 따옴표 다 제거 해도 됨.. 구분자의 기본값은 공백
result

In [ ]:
value = "   abc   "
result = value.strip()
print(result)
print(len(result))

In [ ]:
print(value)
print(len(value))

In [ ]:
result = value.lstrip()  #왼쪽 공백만 제거
print(result)
print(len(result))

In [ ]:
result = value.rstrip()  #오른쪽 공백만 제거
print(result)
print(len(result))

In [ ]:
customer_id = input ("아이디:") #input( ) 문자열을 입력받는 함수.

In [ ]:
print(len(customer_id))

In [74]:
value = "xxx홍길동xxx"
result = value.strip("x") #좌우의 X를 제거'
print(result)

홍길동

In [75]:
value = "abcdef"
result = value.replace("abc", "가나다")
print(result)

가나다def

In [76]:
result = value.replace("abc", "가")

print(result)

가def

In [77]:

result = value.replace("abc", "")
print(result)
print(len(result))

def
3

In [78]:
value = 'a b c d    e'
#result = value.strip()  사이에 있는 공백은 지울수 없다.
result = value.replace(" ","")
print(result)

abcde

In [79]:
value = 'a b c d    e'
result = value.strip()
print(result)

a b c d    e

In [80]:
value = 'abcdeaaaaa'
print(len(value))  #전체 글자수 
print(value.count("abc")) #abc가 몇개인지

10
1

In [81]:
value = "안녕하세요. 반갑습니다. 안녕하세요"
print(value.index("하세요"))
print(value.index("반갑"))
print(value.index("안녕"))
print(value.index("안녕", 5)) # "index 5 이후에 나오는 텍스트에서 찾아줘 " 라는 뜻!

2
7
0
14

In [82]:
print(value.index("abc"))  #없으면 에러

ValueError: substring not found

In [ ]:
print(value.find("하세요"))
print(value.find("abc"))  #없으면 -1

In [ ]:
value = " abcDEFgh"
print(value.upper())
print(value.lower())

In [ ]:
value = "Student"
print(value.lower()=="student")  #대소문자 상관없이 student 가 있는지 없는지만 확인 하고 싶을 때

In [ ]:
value = "KIMdaemin"
print(value.upper()=="KIMDAEMIN")

In [ ]:
value = "abc   def"
print(value.startswith("abc"))
print(value.startswith("abk"))

In [ ]:
value = "abc   def"
print(value. endswith('def'))
print(value. endswith('d'))

In [ ]:
file_name = 'abx.jpg'
print(file_name.endswith('jpg'))

In [ ]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
901211-1027213
value = "901211-1027213"
print(value[0:6])


#l=value.split("-")
#print(l[0])

In [ ]:
#2.  "안녕하세요" 를 10번 출력하시오.
'"안녕하세요"'*10

In [ ]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
# 'my_format' 이라는 문자열 을 만들고  format 메소드를 사용하여 {} 안에 들어갈 (처리될) 값을 넣는다.


my_format = "제품명 : {}, 가격 : {}, 제조사{}"
value1 = my_format.format("TV",300000,"LG")
print(value1)

print("제품명:{}, 가격:{},  제조사:{}". format(name,price,maker))

In [83]:
print("제품명:",name, "가격:", price,"제조사:",maker  #sep"===")

SyntaxError: unexpected EOF while parsing (<ipython-input-83-b1ea28c73217>, line 1)

In [ ]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
"수박"in fruits
print(fruits.find("수박"))


result = fruits.find("수박")
print("없음" if result ==-1 else"있음")

In [ ]:
#5.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.
str_value.count("a")

In [ ]:
#6.
# 다음 문자열에서 '-'를 제거 후 출력하세요.
tel = "010-7777-9999"
tel. replace("-","")

In [ ]:
#7
# 다음 문자열 "Niceman" 에서 "man" 문자열만 출력하세요.
value = "Niceman"
print(value[-3:])


s_idx = value.find("man")
print(s_idx)
print(value[s_idx+3])

In [ ]:
# 8
# 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하세요. :
url = "http://www.daum.net"
value = "http://www.daum.net"
value[-8:]

print(value.replace("http://",""))

In [ ]:
txt = 'www.example.com'
txt.strip('cmow.')    # 좌우에 있는 'c','m','o','w',  "."   지우기  , 좌우에 해당 문자까지만 ,,  문장에 있는 전체가 아니라 !!
                      #strip 은 좌우만!!!!

# 1월 6일

## 데이터 타입 변환 함수

In [ ]:
#정수로 변환: int()

print(int(5.74), int(124.123))
print(int("100"))

In [ ]:
print(int("ㅁㅊㅇ"))

In [ ]:
print(int("123.123"))  # 정수형태의 문자열만  바꿀수 있다 .. // 실수 형태의 문자열 못바꿈

In [ ]:
v = input("숫자: ")  #input() 사용자로 부터 입력받는 함수, string 으로 반환.

In [ ]:
print(int(v)+100)

In [ ]:
#실수로 변환 : float()

In [ ]:
print(float(100))

In [ ]:
print(float("5.123"), float("50"))

In [ ]:
v= input("숫자: ")

In [ ]:
print(float(v)+20)

In [ ]:
#문자열로 변환: str()

In [ ]:
type(str(10))

In [ ]:
str(10)+"개"

In [ ]:
str(120.45)

In [ ]:
str(True)

#주석 단축키 : control +/

In [ ]:
print(float("5.123"))

In [ ]:
float("5.123")

In [ ]:
"A\nb\nc\n"

In [ ]:
print("A\nb\nc\n")