## 리스트
 - 순서가 있는 자료구조
   - 순서 : index로 원소들이 관리된다 추가한 순서대로 저장되어 관리 된다.

In [4]:
# 생성 [v,v,v]
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = ['홍길동', '김대민', '유재석']

In [6]:
print(list1)
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['홍길동', '김대민', '유재석']

In [9]:
list3 = [100, 2.5, None, "abc", True,False, 100]
print(list3)

[100, 2.5, None, 'abc', True, False, 100]

In [10]:
A_info = ["홍길동", 20, "서울", 178.3, 80.2,'회사원',False]

In [11]:
A_info[0]  #서로다른 종류의 값을 모아서 하나의 정보를 의미 할때 //보통 딕셔너리를 사용하는 것이 편하다.

'홍길동'

In [12]:
list2[2]    #같은 종류의 정보를 갖고 있으니 인덱스가

'유재석'

###  *indexing/ slicing

In [5]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list1[0]

0

In [7]:
list1[-5]

6

In [8]:
list1[-1]='김대민'
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, '김대민']

In [10]:
list1[-5]= '천재'
print(list1)

[0, 1, 2, 3, 4, 5, '천재', 7, 8, 9, '김대민']

In [249]:
list1[0] =100
list1  #값을 바꿀수 있다.

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [250]:
list1[-1] = 349
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 349]

In [251]:
len(list1)  #원소의 개수 - len()

11

In [22]:
list1[20]  #없는 index 조회시 에러 발생

IndexError: list index out of range

In [252]:
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 349]

In [253]:
list1[1:8]    #1~7   slicing

[1, 2, 3, 4, 5, 6, 7]

In [254]:
list1[:5]

[100, 1, 2, 3, 4]

In [255]:
list1[4:]

[4, 5, 6, 7, 8, 9, 349]

In [256]:
list1[1:8:3]

[1, 4, 7]

In [11]:
list1

[0, 1, 2, 3, 4, 5, '천재', 7, 8, 9, '김대민']

In [16]:
list1[-1:1:-1]  # 시작: 큰 idx , 끝: 작은 idx, 증감: 음수 =>리버스

['김대민', 9, 8, 7, '천재', 5, 4, 3, 300]

In [15]:
list1[0:3] = [100,200,300]  #slicing으로 원소들 변경할때는 리스트로 값을 대입 /// 대괄호에 변경값을 넣어서 해야한다.
list1

[100, 200, 300, 3, 4, 5, '천재', 7, 8, 9, '김대민']

In [17]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
list1[0:3]= [0,0,0,0,0,]   # 슬라이싱에 해당되는 원소(인덱스 번호)만 날리고 원소들을 바꾼다
list1

[0, 0, 0, 0, 0, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
list1[::3] = [10,20,30,40]
list1 #대입될 값의 갯수를 맞춰 넣어야한다.

[10, 1, 2, 20, 4, 5, 30, 7, 8, 40, 10]

In [40]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1[:5] = []
list1

[5, 6, 7, 8, 9, 10]

In [41]:
del list1[0]
list1

[6, 7, 8, 9, 10]

In [ ]:
#리스트 안에 리스트 (자료구조)를 원소로 추가.

In [43]:
list3 = [
    [1,2,3,4,5,6],
    [10,20,30],
    [40,50,60]
]  # 리스트 갯수는 상관없다.

In [44]:
list3[0][1]

2

In [45]:
list3[2][1]

50

In [67]:
#리스트 +리스트 => 두 리스트를 합친 새로운 리스트 생성

num_list1 = [1,2,3]
num_list2 = [10,20,30]
result = num_list1 + num_list2
print(result)   #리스트 1,2 자체가 바뀌는 것은 아니다.

[1, 2, 3, 10, 20, 30]

In [66]:
#리스트 *  정수 : 리스트가 가진 원소들을 정수만큼 반복해서 가진 새로운 리스트 생성

result1 = num_list1 * 3
print(result1)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [1]:
#리스트 대입
a = [10,20,30]

In [2]:
v1,v2,v3 = [10,20,30]
print(v1,v2,v3)

10 20 30

In [73]:
num_list1

[1, 2, 3]

In [72]:
a, b,c = num_list1 #리스트의 원소수와 변수의 개수는 같아야 한다.
print(a,b,c)

1 2 3

In [5]:
#in, not in
c_list =['서울', '부산', '인천', '광주', '대구']

In [75]:
'서울' in c_list

True

In [76]:
'의정부 'in c_list

False

In [77]:
'의정부' not in c_list

True

In [78]:
'서울' not in c_list

False

### 주요 메소드

In [19]:
c_list.append("울산")  #기가의 리스트에 마지막에 값을 추가 //새로 만드는것 아님
c_list

['서울', '부산', '인천', '광주', ' 대구', '울산']

In [20]:
c_list + ["성남", "대전", '구리']

['서울', '부산', '인천', '광주', ' 대구', '울산', '성남', '대전', '구리']

In [21]:
c_list #새로운 리스트를 만드는 것이다.

['서울', '부산', '인천', '광주', ' 대구', '울산']

In [4]:
c_list.extend(["성남", "대전", '구리'])  ## extend 는  매개 변수를 1개만 받는다.
c_list  #기존 리스트에 추가 하는 것이다.

['서울', '부산', '인천', '광주', ' 대구', '성남', '대전', '구리']

In [16]:
sorted(c_list) #c_list를 정렬한 새로운 리스트를 반환, sorted():내장함수

['광주', '대구', '부산', '서울', '인천']

In [17]:
c_list

['인천', '서울', '부산', '대구', '광주']

In [19]:
c_list.sort() #오름 차순

In [20]:
c_list

['광주', '대구', '부산', '서울', '인천']

In [21]:
c_list.sort(reverse=True) #내림차순

In [22]:
c_list

['인천', '서울', '부산', '대구', '광주']

In [92]:
[1, "가"].sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
c_list.insert(0, "청주") #0번 index에 "청주"를 삽입

In [25]:
c_list

['청주', '청주', '인천', '서울', '부산', '대구', '광주']

In [26]:
c_list.insert(2, "충주")
c_list

['청주', '청주', '충주', '인천', '서울', '부산', '대구', '광주']

In [27]:
c_list.remove("울산")

ValueError: list.remove(x): x not in list

In [266]:
c_list

['서울', '부산', '충주', '인천', '광주', ' 대구', '울산', '울산']

In [97]:
c_list.remove("뉴욕")

ValueError: list.remove(x): x not in list

In [267]:
if"뉴욕" in c_list:
    c_list.remove("뉴욕")
else:
    print("뉴욕은 없다.")

뉴욕은 없다.

In [30]:
c_list.append("서울")
c_list

['청주', '청주', '충주', '인천', '부산', '대구', '광주', '서울', '서울']

In [31]:
c_list.remove('서울')
c_list   # 모든 서울을 지우는 게 아니라 가자 앞에 있는 서울만 지운다.

['청주', '청주', '충주', '인천', '부산', '대구', '광주', '서울']

In [34]:
del c_list[0]  #인덱스로 지울때는 "del"을 쓴다.
c_list

['충주', '인천', '부산', '대구', '광주', '서울']

In [35]:
c_list

['충주', '인천', '부산', '대구', '광주', '서울']

In [36]:
v= c_list.pop()  # list 안에서 제거 하면서 값을 반환해준다.
v

'서울'

In [37]:
c_list

['충주', '인천', '부산', '대구', '광주']

In [38]:
c_list.pop()    #인덱스 안정하면 마지막

'광주'

In [39]:
c_list

['충주', '인천', '부산', '대구']

In [40]:
c_list.pop(0)

'충주'

In [41]:
c_list

['인천', '부산', '대구']

In [42]:
c_list.extend(['서울','서울','서울'])
c_list

['인천', '부산', '대구', '서울', '서울', '서울']

In [45]:
len(c_list) # 리스트 안의 원소들이 몇개인지반환

8

In [46]:
c_list.count("서울") # c_list 안에 "서울" 이 몇개??

3

In [43]:
c_list.count('인천')

1

In [47]:
c_list.count('부산')

1

In [44]:
c_list.extend(['의정부','의정부','의정부'])
c_list

['인천', '부산', '대구', '서울', '서울', '서울', '의정부', '의정부', '의정부']

In [46]:
c_list.count('의정부')

3

In [45]:
del c_list[-4]
c_list

['인천', '부산', '대구', '서울', '서울', '의정부', '의정부', '의정부']

In [52]:
c_list.count('의정부')

3

In [53]:
c_list.pop()

'의정부'

In [54]:
c_list.pop(-3)

'서울'

In [59]:
c_list.remove('서울')
c_list

['구리', '대전', '부산', '성남', '울산']

In [117]:
c_list.clear() # 모든 원소들으ㅡㄹ 삭제
c_list

[]

In [118]:
len(c_list)

0

## 튜플
(원소 변경 불가능)

In [119]:
t = (1,2,3)
type(t)

tuple

In [121]:
t1 = 1,2,3
type(t1)

tuple

In [124]:
# 튜플 대입
v1,v2,v3 = (1,2,3)  
print(v1,v2,v3)

1 2 3

In [125]:
1,2,3,4  #튜플이다.

(1, 2, 3, 4)

In [126]:
t

(1, 2, 3)

In [128]:
t3 = (2,)
type(t3)     
#원소가 1개인 튜플 – 원소 뒤에 , 를 붙인다

tuple

In [130]:
t4 = 2,
type(t4)

tuple

In [132]:
l = ["rk", 'sk', 'ek']  #====> "ㅣ" 이라는 리스트를 튜플로 바꾸는 과정
t5 = tuple(l)
t5    # l   이 튜플로 바뀌는게 아니라 저 값을 갖는 튜플을 만드는것

('rk', 'sk', 'ek')

In [273]:
l  # 'ㅣ' 은 그대로 리스트!
type(l)

list

In [134]:
t6 = (10,20,30)
l6 = list(t6)   #튜플을 리스트로 변환

In [135]:
l6

[10, 20, 30]

In [137]:
l6 = list (t6)
l6[0] = 100000
l6

[100000, 20, 30]

In [138]:
t6 = tuple(l6)
t6

(100000, 20, 30)

In [139]:
print(type(t6))

<class 'tuple'>

In [ ]:
# 튜플 더하기, 곱하기  결과 값을 새로운 튜플로 보여줌 () 변경이 불가능 하기때문!!
#  변경을 못해서 정렬도 불가능 하다.

In [142]:
t1 = (0,1,2,3,4,5,6,7,8,9)
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [143]:
# 조회 : 인덱싱, 슬라이싱 
t1[0]

0

In [144]:
t1[-1]

9

In [146]:
len(t1)

10

In [148]:
t1[123]   #인덱스 값이 없으면 오류

IndexError: tuple index out of range

In [149]:
t1[1:7] #1~6

(1, 2, 3, 4, 5, 6)

In [150]:
t1[::3]

(0, 3, 6, 9)

In [151]:
t1[0] = 10   #튜플 값을 변형 추가 삭제 불가능 error

TypeError: 'tuple' object does not support item assignment

In [152]:
#연산자 
1 in t1

True

In [153]:
100 in t1

False

In [155]:
1 not in t1

False

In [156]:
100 not in t1

True

In [274]:
t2 =  100,200,300
t2

(100, 200, 300)

In [158]:
t1 + t2  # 두개의 튜플이 가진 원소들을 합친 새로운 튜플 반환.

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 200, 300)

In [159]:
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [160]:
t2

(100, 200, 300)

In [162]:


t4 = t2*5  #새로운 튜플 반환
t4

(100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300)

In [163]:
t4.count(100)

5

In [164]:
t4.index(100)    # 100이 어디에 있니? 라고 묻는 답에 인덱스 번호로 답이 나옴

0

In [166]:
x = 10
y =100

In [167]:
tmp = y # 와이 값을 tmp 에 넣고 계속 
y = x

x= tmp

In [168]:
x,y

(100, 10)

In [169]:
x = 10
y =100

In [170]:
x,y = y,x

In [171]:
x,y

(100, 10)

# 딕셔너리 

   -  딕셔너리는 값을 키(key// 주로 문자열을 넣어서 쉽게 조회 가능 하게)-값(value) 쌍의 형태로 저장하는 자료구조이다
   - key값은 중복을 허용하지 않는다.(이미 있는 키 값으로 추가하면 변경이 된다.)
   -value는 중복된 값을 저장 할 수 있다
   
   - key 가 인덱스 역할을 한다. 
   - key 를 통해서  값(많은 값들이 요소로 있을 때)의 의미를 편하게 알수 있다. 값을 호출 하기 편하다
   각각의 인덱스의 의미를 기억 할필요없다..

In [48]:
d1 = {"참외": 10, "수박":20, "귤":50} 
d2 = {"이름": '홍길동', "나이":30, "주소":"서울시 종로구"}

In [52]:
d1['딸기']=40  # 딕셔너리에 없는 키 값을 조회하면 딕셔너리에 그 키와 value 가 추가된ㄷ.ㅏ
d1

{'참외': 15, '수박': 20, '귤': 50, '딸기': 40}

In [50]:
d1['참외']=15
d1['참외']         #딕셔너리에서 있는 키 값을 조회하면 밸류 가 나오고 /키값에 해당하는 다른 밸류값을 주면 밸류 값이 수정된다.

15

In [189]:
d2['이름']

'홍길동'

In [185]:
d2['몸무게']  # 키가 없으면  키에러 난다.

KeyError: '몸무게'

In [197]:
d2['몸무게']=80  #없는 키 값을 대입하면 추가가 된다

In [198]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [56]:
d2["이름"]="이순신" #있는 키에 값을 대입 하면 변경,

In [275]:
d2["성별"]=""

In [276]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80, '성별': ''}

In [53]:
#len(사전) 사전의 원소(key-value 쌍) 개수 조회
len(d2)
len(d1)

4

In [54]:
'딸기' in d1

True

In [57]:
"이순신" in d2  # '이순신'은 d2의 key 인 '이름'의 value 값이므로 false 가나온다./ 딕셔너리는 in,not in을 통해 key의 유무를  조회한다.

False

In [194]:
"이름" in d2  #  key in 딕셔너리 딕셔너리 안에  키 가 있는지 묻는 것 value x

True

In [195]:
"이순신" not in d2

True

In [196]:
"이름" not in d2

False

### 딕셔너리 메소드

In [58]:
d1

{'참외': 15, '수박': 20, '귤': 50, '딸기': 40}

In [59]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구'}

In [60]:
num = d1['참외'] # 참외의 밸류를 변수에 넣어 사용햇다.
num

15

In [61]:
d1

{'참외': 15, '수박': 20, '귤': 50, '딸기': 40}

In [62]:
num1 = d1.pop('참외')  ##--> pop 을 써서 키를 조회하니까 밸류값을 반환하면서 키와 밸류가 없어진다.
num1 # 삭제하면서 조회  ///

15

In [63]:
d1

{'수박': 20, '귤': 50, '딸기': 40}

In [207]:
d1.pop('복숭아')

KeyError: '복숭아'

In [66]:
d8={'자두': 10, '포도': 20}

In [67]:
d8

{'자두': 10, '포도': 20}

In [68]:
del d8['자두']
d8                        #del를 쓰니까 반환하는 값없이 삭제만 된다. //pop를 썻을때는 밸류값 반환하며 키아 없어진다.//찾는 키가 없으면 모두다 키에러

{'포도': 20}

In [288]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80, '성별': ''}

In [290]:
d2.pop('성별')

''

In [291]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [212]:
d2.get('나이')  # 그냥 key 값을 get 한다.!!!!!   pop처럼 반환하며 삭제 하지 않는다.

30

In [214]:
v2 = d2.get('키')  # 없는 키로 조회하면 none으로 반환
print(v2)

None

In [293]:
v2 = d2.get('키','-1')  #없으면 -1(기본값을 반돤)
print(v2)

-1

In [218]:
v2 = d2.get('이름', '이름 없음') #=> 이름이라는 키가 있으므로 value가 반환되된다.
v2

'이순신'

In [78]:
k3 = d1.get('딸기','없음')
k3
k4 = d1.get('수박','없음')
k4
k5=d1.get('망고','없음')
k5

k6=list(str(k3))+list(str(k4))+list(k5) # --> int 는 리스트에 들어갈수없다 쪼개지지가 않는다. 
k6                                       # 대신 문자열로 바꿔서 list에 넣어야함

['4', '0', '2', '0', '없', '음']

In [80]:
k = d2.keys()
print(type(k))

<class 'dict_keys'>

In [81]:
k = d2.values()
print(k)

dict_values(['이순신', 30, '서울시 종로구'])

In [223]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [85]:
i = d2.items()
type(i)
i

dict_items([('이름', '이순신'), ('나이', 30), ('주소', '서울시 종로구')])

In [ ]:
#dict() : 딕셔너리를 생성하는 함수.
#dict() : (key=value, key=value,key=value,key=value)

In [86]:
# 키 값은 변수 형태
d3 = dict(귤=10, 사과= 20, 수박= 50)
type(d3)

dict

In [91]:
k9=dict(커피=1000,라떼=8000,녹차=3000)
k9

{'커피': 1000, '라떼': 8000, '녹차': 3000}

In [93]:
k9['우유']=4900
k9

{'커피': 1000, '라떼': 8000, '녹차': 3000, '우유': 4900}

In [95]:
k9['커피']=5000
k9

{'커피': 5000, '라떼': 8000, '녹차': 3000, '우유': 4900}

In [97]:
k9.get('커피')

5000

In [98]:
k9.pop('커피')

5000

In [99]:
k9

{'라떼': 8000, '녹차': 3000, '우유': 4900}

In [101]:
del k9['라떼']

KeyError: '라떼'

In [105]:
k9.items()

dict_items([('녹차', 3000), ('우유', 4900)])

In [107]:
print(k9.values(),k9.keys())

dict_values([3000, 4900]) dict_keys(['녹차', '우유'])

In [227]:
d3

{'귤': 10, '사과': 20, '수박': 50}

In [229]:
d3['귤']

10

In [295]:
d9 = dict(컴퓨터=10, 마우스=50, 키보드=200)
type(d9)

dict

In [296]:
d9

{'컴퓨터': 10, '마우스': 50, '키보드': 200}

In [297]:
d9['컴퓨터']

10

In [109]:
k0=dict(맥북=1000,삼성=500,엘지=300)

In [110]:
k0

{'맥북': 1000, '삼성': 500, '엘지': 300}

## set (집합)
 - 중복 되는 값을 허락하지않고 순서가없다. 넣는값을 마음데로 바꾼다.

In [5]:
 s1 = {1,2,3}
s1

{1, 2, 3}

In [6]:
s2={5, 6,2,13}
s2              #순서 상관없이 출력

{2, 5, 6, 13}

In [7]:
s3= {1,1,1,2,2,2,3,3,3,4,4,4}
s3   #중복 허용 X

{1, 2, 3, 4}

In [8]:
s3[0] # 인덱스가 없다. 인덱싱 슬라이싱  못씀

TypeError: 'set' object is not subscriptable

In [9]:
for v in s3 :
    print(v)

1
2
3
4

In [10]:
l = [1,1,2,2,3,3,3]
l

[1, 1, 2, 2, 3, 3, 3]

In [11]:
s4 =  set (l)   #새로운 것으로 만듦 ,  리스트에 있는 값으로 새로운 셋 을 만들어 낸
s4

{1, 2, 3}

In [12]:
l2 = list(s4)
l2    #==> set 을 list 로 바꿔서 sorted(list)하고 인덱싱, 원하는값 정렬을 찾으면 된다.

[1, 2, 3]

In [13]:
# list(), tuple(), set() : 다른 자료구조를 자신의 타입으로 변환   딕셔너리는 안됨()

In [14]:
set((2,2,2,3,3,)) #알고리즘 등을 풀때 list 등에 중복되는 원소를 제거하고자 한다면 set을 쓰고 다시 list로 바꿔도 된다.(정렬까지 필요하다면)

{2, 3}

In [15]:
d3

NameError: name 'd3' is not defined

In [115]:
k8=set(k0)   #키값으로 set 를 만들어줌

In [112]:
list(k0)  # 다른 자료 구조들을 딕셔너리로 만드는 것은 불가능 하다
            #하지만 딕셔너리를 다른 자료 구조로 만들면 key 값을 원소로 자료구조를 만들어 준다.

['맥북', '삼성', '엘지']

In [19]:
# 값을 추가 
s1.add(10)
s1

{1, 2, 3, 10}

In [116]:
k8.add('샤오미')
k8  #--->샤오미를 추가했다 하지만 set이라서 맨뒤에 붙는게 아니라 순서 상관없이 추가된다.//set은 add

# set = add 로 추가
# list = append 로 추가 / insert(index,값)
# dic= dec['key']=value 로추가
# tuple = 원소 수정 불가

{'맥북', '삼성', '샤오미', '엘지'}

In [21]:
s1.add(-10)
s1   #순서없이 값을 추가 한다.

{-10, 1, 2, 3, 10}

In [24]:
s1.add(-10)

In [25]:
s1  #중복된것은 추가 안한다.

{-10, 1, 2, 3, 10}

In [118]:
l = [100,200,300,10,10,100]

In [120]:
k8.update(l)  #한번에 여ㅕ라개의 값을 추가 update(자료구조)
k8

{10, 100, 200, 300, '맥북', '삼성', '샤오미', '엘지'}

In [33]:
s1.remove(100)
s1                     #없는 값 키 에러

{-10, 1, 2, 3, 10, 200, 300}

In [34]:
s1.remove(10000)   #없는 값 키 에러

KeyError: 10000

### 합집합

In [122]:
s1 = {1,2,3}
s2 = {3,4,5}

In [125]:
#합집합
s4=k8|s1|s2  #set 끼리의 더하기 = 합집합 이다.
s4

{1, 10, 100, 2, 200, 3, 300, 4, 5, '맥북', '삼성', '샤오미', '엘지'}

In [39]:
s2

{3, 4, 5}

In [126]:
s4 = s1.union(s2)
s4

{1, 2, 3, 4, 5}

In [127]:
#교집합
s5 = s1 & s2
s5   #기존의 ss1 s2 는 안바뀜

{3}

In [45]:
s6 = s1.intersection(s2)
s6

{3}

In [46]:
# 차집합
s7 = s1 - s2
s7

{1, 2}

In [47]:
s2-s1

{4, 5}

In [51]:
s8 = s1.difference(s2)
s8      (s2,s1 의 위치에 따라 결과가 다르다)

{1, 2}

## 자료구조 변환 함수
 -list(타입을 변경할 자료구조)  리스트로 변환
 -tuple(타입을 변경할 자료구조) 튜플로 변환
 -set(타입을 변경할 자료구조)  셋으로 변환
 -변경할 자료구조가 딕셔너리인 경우 key 값을 원소로 가진다.
 딕셔너리로 변환하는 함수는 없음.

In [52]:
tuple({"a":1, "b":2})   #딕셔너릴ㄹ튜플로 바꾸면 키값만 갖고 감  dict는 딕셔너리만을 만드는 함수 /변환 ㄴㄴ

('a', 'b')

In [53]:
dict(name= '홍길동', age=20)

{'name': '홍길동', 'age': 20}

##  Todo

In [130]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제1 ~ 7)

In [133]:
#(1)  7번의 점수를 출력하세요
jumsu[6],jumsu[7-1],jumsu[-4]

(80, 80, 80)

In [135]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
jumsu[0:5]

[100, 90, 100, 80, 70]

In [137]:
#(3)  4, 5, 6, 7번의 점수를 출력하세
jumsu[3:7]

[80, 70, 100, 80]

In [138]:
#(4) 짝수번째 점수를 출력하세요.
jumsu[1::2]

[90, 80, 100, 90, 85]

In [139]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

In [140]:
#(5) 홀수번째 점수를 출력하세요.
jumsu[::2]

[100, 100, 70, 80, 95]

In [141]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8]=20
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [144]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
list(set(jumsu))  # 알고리즘 풀때 유용할듯

[100, 70, 80, 20, 85, 90]

In [ ]:
#(8) 다음 리스트에 마지막 원소로 "사과", "귤"을 추가하세요 .

In [145]:
fruits = ["복숭아", "수박", "딸기"]
fruits.extend(['사과','귤'])
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [5]:
fruits1 = ["복숭아",'멜론','수박']
fruits1.extend(["자몽",'포도'])
fruits1

['복숭아', '멜론', '수박', '자몽', '포도']

In [8]:
fruits1 = ["복숭아",'멜론','수박']
fruits1.append("자몽")
fruits1.append(['포도'])
fruits1.append(["귤"])
fruits1

['복숭아', '멜론', '수박', '자몽', ['포도'], ['귤']]

In [121]:
d2 = {"이름": '홍길동', "나이":30, "주소":"서울시 종로구"}
d2

{'이름': '홍길동', '나이': 30, '주소': '서울시 종로구'}

In [163]:
#(9)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
info= dict(이름='김대민', 나이=32, email='dae@gl.com', 결혼유무='무')
info  # key 값은 그냥 쓰고 value 값만 따옴표로

{'이름': '김대민', '나이': 32, 'email': 'dae@gl.com', '결혼유무': '무'}

In [164]:
# 취미는 2개 이상의 값을 넣는다..
info["취미"]=['음악','영화']
info
#(10) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
info['이름'],info['email']

('김대민', 'dae@gl.com')

In [172]:
f'이름: {info['이름']} 이메일: {info['email']}'

SyntaxError: invalid syntax (<ipython-input-172-d7a4725fbbf6>, line 1)

In [166]:
f"이름: {my_info['이름']}, 이메일주소: {my_info['email']}"

NameError: name 'my_info' is not defined

In [168]:
#(11) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
info['취미'][1]

'영화'

In [6]:
#(12) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.

In [170]:
info['몸무게']=1000
info['키']=190

In [171]:
info

{'이름': '김대민',
 '나이': 32,
 'email': 'dae@gl.com',
 '결혼유무': '무',
 '취미': ['음악', '영화'],
 '몸무게': 1000,
 '키': 190}

In [9]:
infor['키'] = 190

In [10]:
infor

{'이름': '김대민',
 '나이': 10,
 'email주소': 'daemin878@gmail.com',
 '취미': ['독서', '영화감상'],
 '결혼유무': True,
 '몸무게': 70,
 '키': 190}

In [117]:
infor1 = {"이름" :  "김대민",'나이': 32, 
           'email주소' : 'daemin878@gmail.com','취미': '음악','결혼유무': '무'}
#키 값에 콜론이 포함되면 안됨

In [131]:
a = (1,2,3,) #튜플은 원소변경이 안된다.
a

(1, 2, 3)