## 1월 7일

In [1]:
bool([])

False

In [2]:
bool([1])  # 자료구조: 원소가 0개이면 False 1개이상이면 True

True

In [8]:
num = 0 # 만약에 num이 0이면 "0입니다."로 출력  아니면 아무것도 출력 안함.

if num == 0:
    print('0입니다.')
    print('영입니다.')
    print('없습니다.')
print('종료')

0입니다.
영입니다.
없습니다.
종료

In [10]:
num = 10 
#if 조건 : 조건 불 타입이 들어와야 하는곳. 다른 타입의 값이 들어오면 알아서 불(논리형)으로 알아서 변환.
if num == 0:
    print('0입니다.')
    print('영입니다.')
    print('없습니다.')
print('종료')# 폴스라서 실행이 안됨

종료

In [79]:
num = 0 # 만약에 num이 0이면 "0입니다."로 출력  아니면 아무것도 출력 안함.

if not num:     #0 이면은 폴스인데 true가 되야 해서 앞에 not을 붙여서 트루로 바꿔준다.
    print('0입니다.')
    print('영입니다.')
    print('없습니다.')
print('종료')

0입니다.
영입니다.
없습니다.
종료

In [2]:
if 0:#===  0 을넣었을때 알아서 bool 값으로 판단, 0이니까 False 이다.
    print('gkdl')
print('Fa')

Fa

In [80]:
num = 0 # 만약에 num이 0이면 "0입니다."로 출력  아니면 아무것도 출력 안함.

if  num:     
    print('0입니다.')
    print('영입니다.')
    print('없습니다.')
print('종료')

종료

In [12]:
num = 10 
#if 조건 : 조건 불 타입이 들어와야 하는곳. 다른 타입의 값이 들어오면 알아서 불(논리형)으로 알아서 변환.
if not num:  # 10이라서 True 이지만  앞에 not 때문에 False 가 된것이다.
    print('0입니다.')
    print('영입니다.')
    print('없습니다.')
print('종료')   # 폴스라서 실행이 안됨

종료

In [ ]:
num = 0
 # 만약에 num이 0이면 "0입니다."로 출력  아니면 0이 아닙니다.출력

In [18]:
num = 0
if num==0:  # 불리언, 조건이다. 0과 같냐 아니냐를 묻는것이다. 즉 0 이맞으면 True 인것이지 0이라고  False 가아니다. 
    print('0입니다.')
    print('영입니다.')
    print('없습니다.')
else:
    print('0이 아닙니다.')
    print('값-',num)

print('종료')

0입니다.
영입니다.
없습니다.
종료

In [19]:
num = 10
if num==0:
    print('0입니다.')
    print('영입니다.')
    print('없습니다.')
else:
    print('0이 아닙니다.')
    print('값-',num)

print('종료')

0이 아닙니다.
값- 10
종료

In [5]:
if None :
    print('gd')
else :
    print('False 입니다.')

False 입니다.

In [21]:
# 숫자: 0,0.0, None=> False 나머진: True
num = 0

In [22]:
bool(num)

False

In [23]:
not bool(num) # not True => False, not False => True

True

In [24]:
if not bool(num): # True조건 : num == 0
    print("0")

0

In [136]:
num = 0  #num 이 0 보다 크면 양수 출력, 0이면 0출력 0보다 작으면 음수 출력!// (여러가지 연습 해보기0)

if num>0 :
    print('양수')
elif num == 0:
    print("0")   # for in 문에서 여러가지 if 문을 갖고 있다면 그중 True 나오는것을 실행하고 위로 올라가서 반복한다.
elif num < 0 :
    print("음수")

0

In [137]:
num = 0  #num 이 0 보다 크면 양수 출력, 0이면 0출력 0보다 작으면 음수 출력!// (여러가지 연습 해보기0)

if num>0 :
    print('양수')
if num == 0:
    print("0")
if num < 0 :
    print("음수")   #위의 코드와 결과값은 같지만 //  elif 와 if 의 차이 
                    #이코드는 트루가 나와도 밑에코드를 계속 실행 위에거는 트루만 나오면 밑에 코드 실행 안한다.

0

In [29]:
num = 0  #num 이 0 보다 크면 양수 출력, 0이면 0출력 0보다 작으면 음수 출력!// (여러가지 연습 해보기0)
#두조건 하고 나머지 하나 엘스로 해도 결과는 같으니까!!
if num>0 :
    print('양수')
elif num == 0:
    print('0')           
else: 
    print('음수')   #else 에는 조건쓰지 않는다.// 앞에서 <<<<<트루가 나오면 다음  조건으로 안넘어간다.!!!!!!!>>>>>>>

0

In [135]:
num = 0  #num 이 0 보다 크면 양수 출력, 0이면 0출력 0보다 작으면 음수 출력!// (여러가지 연습 해보기0)
#두조건 하고 나머지 하나 엘스로 해도 결과는 같으니까!!
if num>0 :
    print('양수')
if num == 0:
    print('0')
else: 
    print('음수')   #else 에는 조건쓰지 않는다.// 앞에서 트루가 나오면 다음  조건으로 안넘어간다.

0

In [11]:
city = input("도시명:")

도시명:서울

In [7]:
city

'의정부'

In [14]:
city = input("도시명: ")
city = city.strip() # 사용자 들이 실수로 도시명 입력후 ('서울 ') 공백을 만들까봐 넣은 strip

도시명: 수울

In [85]:
h = '189'
w = '80'
value = f'키는 {h}이며, 몸무게는 {w}입니다.'
print(value)

키는 189이며, 몸무게는 80입니다.

In [12]:
if city == '서울':
    print(f"{city}특별시")
    print(city, "특별시",sep="~")  #==>sep는 서울 과 특별시 사이에 들어갈 문자 기호 등을 넣는것이다.
elif city in["인천",'부산','광주','대구','대전','울산']:
    print(f"{city}광역시")
else:
    print(f"{city}일반시")

서울특별시
서울~특별시

In [15]:
c1 = input('도시명')

도시명서울

In [16]:
if c1 =='LA':
    print(f'{c1}은 미국에 있는 도시입니다.')
elif c1 == '도쿄':
    print(f'{c1}은 일본에 있는 도시입니다.')
else:
    print(f'{c1}은 한국에 있는 도시입니다.')

서울은 한국에 있는 도시입니다.

In [13]:
freind = input('친구')

친구하이

In [18]:
if freind =='대민':
    print('친구입니다.')
elif freind == '동표':
    print(f'{freind}는 멍청이 입니다.')
else : 
    print('who the fuXX are you?')

who the fuXX are you?

In [86]:
city = input("도시명:").strip()

도시명:의정부

In [87]:
if city == '서울':
    print(f"{city}특별시")
   #print('city',특별시)  sep''  ==>sep는 서울 과 특별시 사이에 들어갈 문자 기호 등을 넣는것이다.
elif city in["인천",'부산','광주','대구','대전','울산']:
    #문자열 formatting / 문자열에 문장 형태를 미리 만들어 놓고 값은 나중에 대입
    # (f"{city}특별시")  형태를 만들어 놓고 input 도시이름 시티를 삽입하여 문장 완성
    print(f"{city}광역시")
else:
    print(f"{city}일반시")

의정부일반시


#  *중*     반복문   *요* 
 - while 문
     - 조건이 True 인동안 반복
 -for in 문
    -자료구조(리스트/ 튜플(원소변형X)/ 셋(중복X)/ 딕셔너리 ),문자열 의 원소들을 하나식 모두 조회 할때 사용. 이터러블 타입
    
  - tab 자동완성
  -shift + tab  
  == ?
 
 
 -- a += 1 /// a = a+1  ==> 같은뜻이다.
   - a *= 1 /// a = a*1  ==> 같은뜻이다.
   - a -= 1 /// a = a-1  ==> 같은뜻이다.

In [17]:
?print   #앞에 물음표 붙이면 함수 설명~~!

Object `print   #앞에 물음표 붙이면 함수 설명~~!` not found.

# while

In [45]:
cnt = 0 # 초기식  - 조건에서 사용되면서 조건을 폴스로 바꿀 때 사용할 값. 이값은 반복구문에서 사용할수있다.
while cnt < 10: #조건식    #=> 0<10 트루 /// 초기식이 필요함// 조건이 트루인 동안 계속 반복
  #  print(cnt)
    print("안녕하세요.")
#    cnt = cnt + 1 #증감식  없으면 무한히 반복
    cnt +=1 #=  cnt = cnt + 1
    
print("종료")

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
종료

In [18]:
cnt=2
while cnt<10:
    print('python')
    cnt+=1

python
python
python
python
python
python
python
python

In [20]:
dan = 0

while dan <5:
    print ('dan is a good boy')
    dan +=1

dan is a good boy
dan is a good boy
dan is a good boy
dan is a good boy
dan is a good boy

In [ ]:
#- 대입연산자
 -변수
    # a += 1 /// a = a+1  ==> 같은뜻이다.
   #a *= 1 /// a = a*1  ==> 같은뜻이다.
 #a -= 1 /// a = a-1  ==> 같은뜻이다.
 
    사진 필기 다시 하기

In [ ]:
# 1~100 중에 오의 배수만 출력 cnt가 5의 배수 이면 출력해라

In [21]:
cnt =1
while cnt<=100:
    if cnt %5 ==0:
        print(cnt)
    cnt+=1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [24]:
dan1 = 0
while dan1 <= 30:
    if dan1 % 3==0:
        print(dan1)  # while 문 안에서 if 를 반복하는것 근데 dan1 += 1이 if 안으로 들어가면 +1하는것이 반복이 안되서 무한으로 반복 되는것이다.
    dan1 += 1

0
3
6
9
12
15
18
21
24
27
30

In [47]:
cnt =1
while cnt <= 100:
    if cnt % 5 ==0:
        print(cnt)
    cnt +=1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [28]:
dan0 = 1
apple = True
while apple:
    if dan0 % 3==0:
        print(dan0)
    dan0 += 1
    if dan0 > 31:
        apple = False

3
6
9
12
15
18
21
24
27
30

In [27]:
cnt = 1
flag = True
while flag :
    if cnt % 5 ==0:   #p17 나머지 구할 때 "%" 사용한다!! 
        print (cnt)
    cnt += 1
    if cnt>100:
        flag = False

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

## for in 문
```python
for 변수 in iterable:
    반복할 구문
```

In [ ]:
fruits = ['사과', '복숭아', '귤', '수박', '배']

In [31]:
fruits[0]

'사과'

In [30]:
index = 0 #리스트의 index

while index < 5:
    print(fruits[index])   #리스트에서 '리스트명[index number]' 입력하면 불러오니까/원소의 갯수가 늘어나면 while 조건부분을 계속 수정해야함.ㅜ
    index += 1

사과
복숭아
귤
수박
배

In [33]:
fruits = ['사과', '복숭아', '귤', '수박', '배',"딸기",'멜론']  #원소의 갯수가 늘거나 줄어도 되는 코드
length = len(fruits)
print(length)

7

In [107]:
index = 0 #리스트의 index
length = len(fruits)
 
while index < length:
#index 넘버는 원소 갯수를 절대 넘을 수 없음  len이 7이니까 index가 7이되면 false가되서 반복중지
    print(fruits[index])
    index += 1

사과
복숭아
귤
수박
배
딸기
멜론

In [27]:
cine=["potter",'teddy','inter','twil']

In [29]:
index = 0
while index<=len(cine)-1:
    print(cine[index])
    index+=1

potter
teddy
inter
twil

In [108]:
for fruit in fruits#자료구조:
    print(fruit)

사과
복숭아
귤
수박
배
딸기
멜론

In [54]:
for num in (1,3,4,5,):
    print(num)

1
3
4
5

In [34]:
d={
    "a":10,
    "b":20,
    'c':30,
}

for k in d:
    print(k)   #딕셔너리를 for 문에 넣으면 key값을 반환. 하단.

a
b
c

In [49]:
d.values(), d.keys(),d. items()

(dict_values([10, 20, 30]),
 dict_keys(['a', 'b', 'c']),
 dict_items([('a', 10), ('b', 20), ('c', 30)]))

In [31]:
d={
    "a":10,
    "b":20,
    'c':30,
}

In [33]:
#키가 b 인 아이템의 벨류를 출력

for i in d.items():  #--> 딕셔너리 튜플로 반환한다.
    if i[0] == 'b':  # --> 튜플로 반환 받은 값중에 (3개의 튜플이 나올것이다.) 인덱스 0번이 키 이니까 그튜플의 values 인덱스번호 1번 을 출력
        print(i[1])

20

In [112]:
type(d.values())

dict_values

In [ ]:
#키가 b 인 아이템의 벨류를 출력
for v in d.items():
    if v[0]=='b':
        print(v[1])

In [42]:
for k in d:
    print([k])

['a']
['b']
['c']

In [37]:
type([k])

list

In [75]:

for v in d.values():
    print(v)

10
20
30

In [77]:

for v in d.items():
    print(v)

('a', 10)
('b', 20)
('c', 30)

In [47]:
d={
    "a":10,
    "b":20,
    'c':30,
}

In [50]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [54]:
# 키가 a 인 아이템의 벨류를 출력
for kim in d.items():
    if kim[0] == "a":
        print(kim[1])

10

In [53]:
#키가 c인 아이템의 벨류를 출력
for dan in d.items():
    if dan[0] == 'c':
        print(dan[1])

30

In [51]:
#키가 b 인 아이템의 벨류를 출력
for v in d.items():
    if v[0]=='b':
        print(v[1])

20

In [34]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [120]:
for key, value in d.items():
    if key == 'b':
        print(value)            #변수 여러개 설정 가능// 키,벨류로 두개 설정했음

20

In [35]:
for k,v in d.items():  # 튜플로 나오는 원소들을 변수를 두개를 설정해서 바로 따로 받아서 사용했다.
    if k == 'a':
        print(v)

10

In [37]:
lst = [
    [1,2,3],
    [20,34,4,],
    [4,5,6],
    ]

In [41]:
for a,b,c in lst:
    print(a,b,c,sep='★')

1★2★3
20★34★4
4★5★6

In [40]:
for v1,v2,v3 in lst:
    print(v1,v2,v3, sep="-")  #원소 개수와 변수 개수가 같아야한다.~!

1-2-3
20-34-4
4-5-6

In [45]:
dan = [
    ['치킨','맥주','족발'],
    ['삼겹살','소주','맥주'],
    ['파전','소맥','골뱅이']
]

In [46]:
for a,b,c in dan:
    print(a[0],b[0],c[0],sep='@')

치@맥@족
삼@소@맥
파@소@골

In [59]:
type(dan)

list

In [63]:
for k1,k2,k3 in dan:
    print(k1,k2,k3, sep="@")

치킨@맥주@족발
삼겹살@소주@맥주
파전@소맥@골뱅이

In [47]:
lst1 = [
    [1,2,3],
    [20,34,4,],
    [4,5,6,4,5],
    ]

#### 이중 for in 구문

In [52]:
for l in lst1:          #3번 반복
    for v in l:         # l = [1,2,3]일때 1이 프린트되고 end=' '이게 붙고 그다음 2,3,이끝날때마다 *end' ' 이것때문에 가로로 출력된다.> #3번반복
        print(v,end=" ")  #원소 갯수 다를때 # 1번 3 번반복 2번 3번 .// 3번 4번반복한다 
    print()#엔터         #  l = [1,2,3]일때  여기 원소 3개가 다 반복되면 print()를 하고 다시 첫번째 for로가서 반복을 한다.

1 2 3
20 34 4
4 5 6 4 5

In [54]:
dany = [
    ['치킨','맥주',],
    ['삼겹살','소주','맥주'],
    ['파전','소맥','골뱅이']
]

In [55]:
for d in dany:           
    for k in d:          # 두번째 for 문을 반복하고 반복이 완료되면 print()을 하고 첫번째가서 다음 원소를 반복한다.
        print(k,end="/")# end= '/' 이것때문에 가로로 출력되면서 구분을 지어 준다.
    print()

치킨/맥주/
삼겹살/소주/맥주/
파전/소맥/골뱅이/

In [56]:
for d in dany:
    for k in d:
        print(k,sep="/")# sep = '/' 은 출력하는게 원소가 1개라 의미가 없다.
    print()

치킨
맥주

삼겹살
소주
맥주

파전
소맥
골뱅이

In [128]:
for s in "abxdef가나다라":
    print(s,end=',')

a,b,x,d,e,f,가,나,다,라,

In [59]:
k=input()
for i in k:
    print(i,end='^')

asdfghjkl
a^s^d^f^g^h^j^k^l^

In [126]:
print("a","b",20,sep="/",end = ",")

a/b/20,

In [ ]:
#1~100까지 5의배수 while 문으로 만들기 
cnt = 1
flag = True
while flag :
    if cnt % 5 ==0:   #p17 나머지 구할 때 "%" 사용한다!! 
        print (cnt)
    cnt += 1
    if cnt>100:
        flag = False   # 멈추기위해  True 를 False 로 바꾸려고 변수 사용

In [62]:
#1~100까지 5의배수 while 문으로 만들기 
dan =True
cnt =1
while dan:
    if cnt%5 == 0:
        print(cnt)
    cnt+=1
    if cnt >100:    # elif 는 True 를 찾으면 멈추기 때문에 if 를 써야한다.
        dan=False

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [69]:
dany = 0
kim = True
while kim:
    if dany%3 ==0:
        print("dan's good boy")
    dany += 1
    if dany > 30:
        kim = False

dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy

In [129]:
cnt = 1 # 위의 코드와 같은 결과로 나오지만 break로 멈추기 때문에 변수는 필요 없음 
while True:
    if cnt%5 ==0:
        print(cnt)
    cnt+=1
    if cnt >100:    #특정조건이 되면 break 해라~~
        break

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [4]:
dany = 1
while True:
    if dany%3 ==0:
        print("dan's good boy")
    dany += 1
    if dany > 30:
        break

dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy
dan's good boy

In [ ]:
#while True:
#    if cnt%5 ==0:
#        print(cnt)
#   cnt+=1
#   if cnt >100: #멈출 조건
#       break

In [161]:
cnt =1     #True 일때 , print(cnt)가 된다./False면 continue때문에 print까지 안가고 다시 위로 올라가서 반복
while cnt <= 100:
    if cnt % 5 != 0:
        cnt+=1       #5의 배수 일때는 다음단계인 print로 넘어가고 //5의 배수가 아닐때는continue때문에 다음단계로 넘어 가지않고 반복한다.
        continue   #여기서 if 문이 참이면은 cnt+1을 하고 continue때문에 다음작업인 print를 실행하지 않고 다시 올라가서 반복문을 실행
    print(cnt)     # if 문이 False이면 if 문은 실행이 되지않고 바로 print 실행하기때문에   5의 배수만 출력한다.
    cnt+=1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

# continue
– 나머지 부분을 실행하지 않고 다음 반복을 시작한다.

In [65]:
# 1~100 까지 10의 배수 출력 while , continue 이용해서 해보기
cnt=1
while cnt < 100:
    if cnt%10!=0:
        cnt+=1
        continue
    print(cnt)
    cnt+=1

10
20
30
40
50
60
70
80
90

In [66]:
# 1~100 까지 10의 배수 출력 while , break이용해서 해보기
cnt=1
while cnt <101:
    if cnt%10==0:
        print(cnt)
    cnt+=1
    if cnt >101:
        break

10
20
30
40
50
60
70
80
90
100

In [72]:
oak = 1
while oak<= 30:
    if oak %3 !=0:
        print("mom's day off")
        oak +=1
        continue
    print(oak)
    oak += 1

mom's day off
mom's day off
3
mom's day off
mom's day off
6
mom's day off
mom's day off
9
mom's day off
mom's day off
12
mom's day off
mom's day off
15
mom's day off
mom's day off
18
mom's day off
mom's day off
21
mom's day off
mom's day off
24
mom's day off
mom's day off
27
mom's day off
mom's day off
30

In [64]:
for i in[1,2,3,4,5,6,7,8,9,10]:
    if i % 3 != 0 :
        continue                         #contiue는 참이면 반복 거짓이면 출력 한다!!
    print(i)                             # 브레이크는 참인거를 계속 순환하다가
                                            # 브레이크가 되는 조건에 해당되면 스탑!

3
6
9

## 1월 8일

In [ ]:
#for in 연관 내장 함수 - range
#range  :  정수만 가능// 실수 안됨 // 시작값, 증감값 생략 가능 //멈춤값(포함안됨 -1)은 필수 
            #-1 로하면 거꾸로 # (멈춤값이 없으면 무한대로 가니까~)  시작,종료,증감 순서로
#enumerate
#zip

In [68]:
#range(1,10,2)   #1~10-1   2씩 증가 
for i in range (1,10,2):
    print(i,end = ' ')

1 3 5 7 9

In [74]:
lst = list(range(1,11))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
type(lst)

list

In [81]:
list(range(1,3))   # range 이용해서 list,tuple,set 만들기~~

[1, 2]

In [82]:
tuple(range(1,3)),    #iterabble 타입의 객체를 리스트 튜플 셋으로 변환

((1, 2),)

In [90]:

m=set(range(1,3))
print(m)

{1, 2}

In [91]:
type(m)

set

In [146]:
tu = tuple(range(10))
tu# 0~9 1씩 증가

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [148]:
s = set(range(10))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [150]:
#증감치가 음수 일때 시작값이 > 종료값
list(range(10,-10,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [152]:
list(range(10,-10,-5))

[10, 5, 0, -5]

In [96]:
r=range(10)
print(r)

range(0, 10)

In [69]:
# dkssud 10번 반복 사용
for i in range(10):
    print(i,"안녕")

0 안녕
1 안녕
2 안녕
3 안녕
4 안녕
5 안녕
6 안녕
7 안녕
8 안녕
9 안녕

In [99]:
for a in range(1,10):
    print(a, "왜안되")

1 왜안되
2 왜안되
3 왜안되
4 왜안되
5 왜안되
6 왜안되
7 왜안되
8 왜안되
9 왜안되

In [156]:
for _ in range(10):
    print("안녕")  #변수를 '_' 언더스코어로 지정하면  변수를 //10번 반복해라!!
                    #반복문(결과값에 표시 안하겠다) 내에서 사용하지 않겠다.(관례)

안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

## enumerate(Iterabl ,[start=시작값])  시작값 생략 가능

In [70]:
str_list = ['가','나','다','라','마']  #// 반복횟수를 알려줌!!!!
for s in enumerate(str_list,1):  # 1을 쓰면 인덱스 값을 1부터 시작하고 안쓰면 0부터 시작
    print(s)

(1, '가')
(2, '나')
(3, '다')
(4, '라')
(5, '마')

In [75]:
lis=[1,2,3,4,5,6,7,8,9]
for i in enumerate(lis,1):
    print(i)

(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)

In [76]:
for k,i in enumerate(lis,1):  # enumerate 는 값을 튜플로 반환해주는데 이 튜플을 변수 2개로 받아서 index 값등을 넣으면 index 번호에 맞는 원소를
                                #/조회 가능하다.
    if k == 1:
        print(i)

1

In [117]:
for kin, s in enumerate(study,2):  
    if kin == 2:
        print(kin,s)

2 코딩

In [77]:
for idx, s in enumerate(lis):    # enumerate 를 하면 index,값 이렇게 두가지 값이 한쌍인 튜플이 나온니까 변수를 두개 주었다.
    if idx==3 :                  # 그리고 그 index를 통해 해당하는 원소를 찾았다.
        print(idx,s)

3 4

list 를 for in 에 넣고 반복을 하는데 enumerate를 사용하면 시작 값을 정하지 않는 이상 index 번호와 해당하는 원소를 묶어 튜플로 반환한다.
이것을 통해 몇번 index에 어떤 원소가 있는지 조회가 가능하다.

In [163]:
for idx, s in enumerate(str_list, start=1):
    print(idx,s)                   #시작 값을 정해 줄 수 있다.

1 가
2 나
3 다
4 라
5 마

### zip (iterable,iterable [......])

In [166]:
a = [1,2,3]
b = [10,20,30,]
c = 100,200,300,400,500  #튜플
d = {'가','나','다'}  #셋은 순서가 없으니 랜덤  #같은 indexx 값끼리 튜플로 묶어준다.

In [167]:
for v in zip(a,b,c,d) :
    print(v)          # 원소 개수가 작은 것에 맞춘다.

(1, 10, 100, '다')
(2, 20, 200, '나')
(3, 30, 300, '가')

In [118]:
a = ['맥주','치킨','파닭']
b = ['소주','곱창','삼겹살']
c = ['파전','막걸리']
for dae in zip(a,b,c):
    print(dae)

('맥주', '소주', '파전')
('치킨', '곱창', '막걸리')

In [119]:
김치찌개 = ['김치','돼지고기','다진마늘']
다이어트 = ['닭가슴살','운동','하기싫음']
호주 = ['골드코스트','케언즈','south port']

In [120]:
for austrailia in zip(김치찌개,다이어트,호주):
    print(austrailia)

('김치', '닭가슴살', '골드코스트')
('돼지고기', '운동', '케언즈')
('다진마늘', '하기싫음', 'south port')

In [80]:
names = ['이순실', '홍길동', '김대민']
ages = [20, 30, 40,]
talls = [150,190,180]

In [81]:
for info in zip(names, ages, talls):
    print(info)

('이순실', 20, 150)
('홍길동', 30, 190)
('김대민', 40, 180)

In [84]:
for name, age, tall in zip(names, ages, talls):
    print(name, age, tall)

이순실 20 150
홍길동 30 190
김대민 40 180

In [87]:
nb=['애플','삼성','엘지','아수스']
wa=['애플워치','갤럭시 워치','미밴드']

for n,z in zip(nb,wa):
    print(n,z)

애플 애플워치
삼성 갤럭시 워치
엘지 미밴드

## 컴프리헨션

In [92]:
lst = [1,2,3,4,5,6]
# lst의 원소들에 10을 더한 갑슬 갖는 리스트 생성

In [93]:
lst2 = []   #빈 리스트를 만들고 반복문을 이용하여  lst값을 반복하여 
for num in lst:
    lst2.append(num+10)   # 뒤에 반복문을 게속 입력

In [122]:
around = ['김','대','민','천','재']

In [123]:
around1 =[]
for num1 in around:
    around1.append(num1+str(10))

In [125]:
around1

['김10', '대10', '민10', '천10', '재10']

In [94]:
lst2

[11, 12, 13, 14, 15, 16]

In [95]:
result = [num for num in lst]#for in 포문 반복해서 값을 빼서 리스트 안에 num에 넣어 주는것이다.
result  # 리스트 컴프리핸션

[1, 2, 3, 4, 5, 6]

In [96]:
# 1~100 10의 배수
gg = [num for num in range(1,101) if num %10==0]
gg

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [102]:
g=[int(n)+100 for n in gg] 
g

[110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [128]:
type(result)

list

In [ ]:
lst = [1,2,3,4,5,6]

In [200]:
result = [num+10 for num in lst]#for in 포문 반복해서 값을 빼서 리스트 안에 num에 넣어 주는것이다.
result # 리스트 컴프리헨션  #기존 리스트 값을 갖고와서 새로운 리스트를 만든다 == 컴프리헨션

[11, 12, 13, 14, 15, 16]

In [132]:
lst = [1,2,3,4,5,6]

In [134]:
kim = [dan for dan in lst]
kim

[1, 2, 3, 4, 5, 6]

In [135]:
kim = [dan +5 for dan in lst]
kim

[6, 7, 8, 9, 10, 11]

In [103]:
result2 = {num+10 for num in lst}   #셋 컴프리헨션
result2

{11, 12, 13, 14, 15, 16}

In [104]:
k={i for i in range(1,101) if i%10==0}
k

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [137]:
kim2 = {dan+5 for dan in lst}
print(kim2)   #기존의 lst 리슽트를 이용하여 원소에 5씩 더한 새로운 set을 만들어 냈다

{6, 7, 8, 9, 10, 11}

In [108]:
lst = [1,2,3,4,5,6]

In [109]:
result2 = {num:'가' for num in lst}   #{k:v, k:v }  #딕셔너리 컴프리헨션 파이썬 3.부터
result2 , type(result2)

({1: '가', 2: '가', 3: '가', 4: '가', 5: '가', 6: '가'}, dict)

In [110]:
kim3 = {dan:'대민짱' for dan in lst}
kim3

{1: '대민짱', 2: '대민짱', 3: '대민짱', 4: '대민짱', 5: '대민짱', 6: '대민짱'}

In [112]:
dd= {i:'배고파' for i in lst}
dd  #원소들을 key 로하는 딕셔너리를 만들었다. value

{1: '배고파', 2: '배고파', 3: '배고파', 4: '배고파', 5: '배고파', 6: '배고파'}

In [117]:
lst2 = ['영','하나','둘','셋','넷']

In [114]:
num_name = {ind:i for ind,i in enumerate(lst2)}
num_name

{0: '영', 1: '하나', 2: '둘', 3: '셋', 4: '넷'}

In [149]:
kim4 = {idx: dan for idx,dan in enumerate(lst)}
print(kim4)  #enumerate 를 사용하여 인덱스와 리스트의 원소 쌍을 idx,dan에 얻었고 그것을 사용하여 딕셔너리컴프리헨션을 만들었다.

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [140]:
result3 = {idx:num for idx, num in enumerate(lst2)}
result3

{0: 11, 1: 12, 2: 13, 3: 14, 4: 15, 5: 16, 6: 17, 7: 18, 8: 19, 9: 20}

In [141]:
type(result3)

dict

In [118]:
dic = {}
for idx,dan in enumerate(lst2):
    #0,1/1,2/2,3/3,4/
    dic[idx] = dan  # 딕셔너리는 <<딕셔너리이름[key] = 값>> 을하면 없는 값일 경우 추가를 해준다.

In [119]:
print(dic)

{0: '영', 1: '하나', 2: '둘', 3: '셋', 4: '넷'}

In [206]:
num_list = list(range(100))
num_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [159]:
fco=list(range(1,30))   #fco 라는 리스트를 갖고 3의 배수만 모은 ebbet이라는 새로운 리스트(컴프리헨션)를 만들었다.

In [160]:
ebbet = []
for e in fco:
    if e %3 ==0:
        ebbet.append(e)
print(ebbet)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [211]:
 # 넘 리스트 10의 배수만 가지는 원소 리스트 생성.
result = []
for num in num_list :
    if num %10 == 0:
        result.append(num)

In [212]:
result

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [213]:
result2 = [num for num in num_list if num%10==0]   #원하는 값만 '필터링'//값하나에 하나하나 처리 '맵핑'
result2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [161]:
ebbet2 =[e for e in fco if e %3 == 0]
ebbet2

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
#[변수 for 변수 in iterable [for in ans 또는 if문 ][for in ans 또는 if문 ][for in ans 또는 if문 ]]
# 조건 무한으로 가능//너무 많이 쓰면 가독성이 떨어짐 / 두번정도까진 함

# todo

In [71]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

num = int(input("점수:"))

if 91<=num <=100:
    print("A학점")
elif 81<=num <=90:
    print("B학점")
elif 71<=num <=80:
    print("C학점")
elif 61<=num <=70:
    print("D학점")
else:
    print("F학점")

점수:70
D학점

In [ ]:
num = int(input("점수:"))

elif 91<=num <=100:
    print("A학점")
elif 81<=num:
    print("B학점")
elif 71<=num:
    print("C학점")
elif 61<=num:
    print("D학점")
else:
    print("F학점")

In [164]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

x = int(input("점수:"))


if 91<=x :
    print("A학점")         #x=91 & x<=100
elif 81<=x:
    print("B학점")
elif 71<=x:
    print("C학점")
elif 61<=x:
    print("D학점")
else:
    print("F학점")

점수:74
C학점

In [171]:
#(2) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
res = sum(jumsu)/len(jumsu)

a=0 # 합계를 저장할 변수 
for mi in jumsu:
    a+=mi
print(a/len(jumsu))

dae = a/len(jumsu)
dae

89.0

89.0

In [167]:
#2
a=0 # 합계를 저장할 변수 
for i in jumsu:
    a+=i
    #b+=1

print(a/len(jumsu))

89.0

In [293]:
sum((1,2,3,)),sum({1,2,3,}),sum(range(11,))

(6, 6, 55)

In [169]:
range(11)

range(0, 11)

In [248]:
#(3) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
		
for idx, x in enumerate(jumsu):
    if x >= res:
         print(f'{idx}-pass')
    else:
        print(f'{idx}-fail')

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [173]:
for k, d in enumerate(jumsu):
    if d >=dae :
        print(f'{k}-pass')
    else :
        print(f'{k}-fail')

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [139]:
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

#내장함수
print(max(jumsu))
print(min(jumsu))
print(sum(jumsu))

#max_value= jumsu[0]
for num in jumsu :
    if num> max_value:
        max_value = num
print ('최대값:', max_value)

95
55
785
최대값: 95

In [140]:
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

#max_k = jumsu[3]
for num in jumsu:
    if num > max_k:
        max_k=num
print('최대값:', max_k)

최대값: 95

In [299]:
jumsu [0]

60

In [185]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "병", "정"]


for daemin in str_list:
    if daemin != '정':
        print(daemin, end=" ")

갑 을 병

In [189]:
kimdae = [daemin for daemin in str_list if daemin != '정']
print(kimdae), type(kimdae)

['갑', '을', '병']

(None, list)

In [252]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "병", "정"]

for a in str_list:
    if a != "정":
        print(a)

갑
을
병

In [255]:
list4= [num for num in str_list if num !="정"]
print(list4)

['갑', '을', '병']

In [304]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

num = int(input("단을 입력하시오:"))  #문자열로 입력 하면 안되니까 int 로 정수로 변환 해줘야한다.


for x in range(1,10):
   # print (f'{num} x {x} = {num*x}')
    print('{} X {} = {}'.format(num, x, num*x))
    #핸드폰 사진

단을 입력하시오:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [194]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

num = int(input("단을 입력하시오:"))  #문자열로 입력 하면 안되니까 int 로 정수로 변환 해줘야한다.

for u in range(1,10):
    print(f'{num}*{u}= {num*u}')

단을 입력하시오:2
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18

In [200]:
no = int(input("몇단으로 하고싶냐?"))
c = 1
while c< 10:
    #print(f'{no}*{c}={no*c}')
    print('%d * %d = %d' % (no,c,no*c))
    c +=1

몇단으로 하고싶냐?3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [205]:
#구구단 표 

for num in range(1,10):# 숫자*num // 핸드폰 사진 삭제하기 \n 엔터, \t tab
    for dan in range(2,3):
        print('{} X {} = {}'.format(dan, num, dan*num),end="\t")    #가로로 한줄씩 나간다. 이중 for 중에 두번째 반복문이 끝날대까지 한다 
    print()                                                            #두번째 반복문이 2~9까지 반복 하고 (dan 반복문이 )처음으로가서 num 으로감

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [214]:
for dan in range (2,3):
    for num in range(1,10):
        print(f'{dan}*{num} = {dan *num}')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18

In [206]:
for dan in range (2,3):
    for num in range(1,10):
        print('{} X {} = {}'.format(dan, num, dan*num),end="\t")    
    print()

2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 4 = 8	2 X 5 = 10	2 X 6 = 12	2 X 7 = 14	2 X 8 = 16	2 X 9 = 18

In [260]:
#컴프리헨션
#(7) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)// 최종결과 리스트가됨
lst = [10, 30, 70, 5, 120, 700, 1, 35]
result = [num*2 for num in lst]  #mapping 모든값을 동일한 처리를 하는것 
result

[20, 60, 140, 10, 240, 1400, 2, 70]

In [263]:
#(8) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
result = [(num,num*10) for num in lst] #이런 상황에서는 괄호를써서 튜플ㅇㄹ 만들어야함 ㅋ
result

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [266]:
#(9) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
result = [num for num in lst2 if num%3 ==0 ]  #두번째 if 조건으로 filtering 한다~~~
result

[3, 33, 21, 33, 60, 120]

In [271]:
#(10) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", 
           "cat.jpg", "dog.png", "run.exe", "i.dll"]
result = [num for num in file_name if num.endswith("exe")]
result

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [278]:
#(11) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe",
           "cat.jpg", "dog.png", "run.exe", "i.dll"]
result = [num for num in file_name if len(num)>=10]
print(result)

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [216]:
#(11) 다음 중 5글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
name=['김대민 천재','이기완바보','김대민','독서실','맥북','맥북프로']

for n in name:
    if len(n) >= 5:
        print(n)

김대민 천재
이기완바보

In [218]:
name1 = [me for me in name if len(me)>=5]
name1

['김대민 천재', '이기완바보']

In [220]:
name2 = {d:len(d) for d in name if len(d)>=5}
name2

{'김대민 천재': 6, '이기완바보': 5}

In [309]:
result = {num:len(num) for num in file_name if len(num)>=10}
result    #딕셔너리로 만들때

{'mystroy.txt': 11, 'jupyter.bat': 11, 'function.exe': 12}

In [ ]:
# 예측할 숫자를 생성
import random
num= random.randint(1,100)  #100도포함 1~100 사이의 정수를 실행시마다 랜덤 하게 반환
print(num)

# todo 2번째 풀이

In [123]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

num = int(input())

if num >=91:
    print('A학점')
elif num >=81:
    print('B학점')
elif num >= 71:
    print('C학점')
elif num >= 61:
    print('D학점')
else:
    print('F학점')

100
A학점

In [125]:
#(2) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
sum(jumsu)/len(jumsu)

89.0

In [127]:
total=0
for i in jumsu:
    total+=i
avg=total/len(jumsu)
avg

89.0

In [131]:
#(3) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for indx,i in enumerate(jumsu,1):
    if i >=avg:
        print(indx,'pass',sep='-')
    else:
        print(indx,'fail',sep='-')

1-pass
2-pass
3-pass
4-fail
5-fail
6-pass
7-fail
8-pass
9-pass
10-fail

In [132]:
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
max(jumsu)

95

In [144]:
max_score=jumsu[0]  # 이게 for 안에 들어가면 max 점수가 i 로 바뀌지 않고 계속 jumsu[0]이되니까 결국 마지막 점수까지 반복하고 마지막 점수가 jumsu[0]보다 크니까 출력된다.
for i in jumsu:
    if i > max_score:
        max_score=i
print(str(max_score)+'점')

95점

In [146]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "병", "정"]
print(str_list[0:3])

['갑', '을', '병']

In [153]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

dan=int(input())
for i in range(1,10):
    print(f'{dan}X{i}={dan*int(i)}',end=" ")

2
2X1=2 2X2=4 2X3=6 2X4=8 2X5=10 2X6=12 2X7=14 2X8=16 2X9=18

In [158]:
for i in range(2,10):
    for n in range(1,10):
        print(f'{i}X{n}={i*n}',end="\t")
    print()

2X1=2	2X2=4	2X3=6	2X4=8	2X5=10	2X6=12	2X7=14	2X8=16	2X9=18
3X1=3	3X2=6	3X3=9	3X4=12	3X5=15	3X6=18	3X7=21	3X8=24	3X9=27
4X1=4	4X2=8	4X3=12	4X4=16	4X5=20	4X6=24	4X7=28	4X8=32	4X9=36
5X1=5	5X2=10	5X3=15	5X4=20	5X5=25	5X6=30	5X7=35	5X8=40	5X9=45
6X1=6	6X2=12	6X3=18	6X4=24	6X5=30	6X6=36	6X7=42	6X8=48	6X9=54
7X1=7	7X2=14	7X3=21	7X4=28	7X5=35	7X6=42	7X7=49	7X8=56	7X9=63
8X1=8	8X2=16	8X3=24	8X4=32	8X5=40	8X6=48	8X7=56	8X8=64	8X9=72
9X1=9	9X2=18	9X3=27	9X4=36	9X5=45	9X6=54	9X7=63	9X8=72	9X9=81

In [162]:
#컴프리헨션
#(7) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

lst2=[i*5 for i in lst]
lst2

[50, 150, 350, 25, 600, 3500, 5, 175]

In [163]:
#(8) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
lst2 = [i*10 for i in lst]

lst3=[]
for i in zip(lst,lst2):
    lst3.append(i)
print(lst3)

[(10, 100), (30, 300), (70, 700), (5, 50), (5, 50), (120, 1200), (700, 7000), (1, 10), (35, 350), (35, 350)]

In [165]:
lst4=[(i,i*10)for i in lst]
lst4

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [ ]:
result = [(num,num*10) for num in lst]

In [166]:
#(9) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

lst5=[i for i in lst2 if i%3==0]
lst5

[3, 33, 21, 33, 60, 120]

In [167]:
#(10) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
for i in file_name:
    if i.endswith('exe'):
        print(i)

a.exe
function.exe
b.exe
run.exe

In [168]:
#(11) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

for i in file_name:
    if len(i)>=10:
        print(i)

mystroy.txt
jupyter.bat
function.exe

# 숫자게임~

In [ ]:
1. 예측할 숫자 생성
2. 사용자로부터 숫자 입력
3. 입력받은 숫자와 예측 숫자를 비교한다.
    3-1 같으면 몇번째 성공했는지 출력하고 종료

In [180]:
import random
num= random.randint(1,100)  
print(num)
i = 0

while i != num:
    i = int(input())
    if i> num :
        print("입력한 값이 큽니다.")
    elif i < num :
        print("입력한 값이 작습니다.")
    else: 
        break
print(f"일치합니다.")

83
100
입력한 값이 큽니다.

KeyboardInterrupt: Interrupted by user

In [186]:
### 예측할 숫자를 생성
import random
num= random.randint(1,100)  #100도포함 1~100 사이의 정수를 실행시마다 랜덤 하게 반환
print(num)
i=0

while i != num:   
    #100 이상의 숫자를 입력하면 False 가 되서 while 이 작동하지 않는다. (while i < 100: 일때)
    #그래서 != 으로 100이상의 숫자를 넣어도 while이 작동할수 있게한다.   (while i != 100 일때 i가 100이면 False 가됨)
# but 100은 만약 i를 100을 넣으면 100 != 100 이되고 False 가되므로 while이멈추니까 사용자가 입력한 값과 랜덤 숫자가 다르면 계속 While이 작동하게한다.
    # 그리고 사용자가 입력한 숫자와 random 숫자가 같으면 False 가되서 while 이 작동을 안하고 print만 하게된다.
    i=int(input('숫자 입력:'))
    if i <num:
        print(f'{i} 보다 큰 숫자입력')
        
    elif i >num:
        print(f'{i} 보다 작은 숫자 입력')
        
    else:
        break
print(f'{i} 정답입니다.')

92
숫자 입력:34
34 보다 큰 숫자입력
숫자 입력:53
53 보다 큰 숫자입력
숫자 입력:7
7 보다 큰 숫자입력
숫자 입력:234
234 보다 작은 숫자 입력
숫자 입력:100
100 보다 작은 숫자 입력
숫자 입력:92
92 정답입니다.

In [194]:
import random
num= random.randint(1,100)  #100도포함 1~100 사이의 정수를 실행시마다 랜덤 하게 반환
print(num)
i=0
try_count=1
max_try=5
while i != num:
    print(f'{try_count}번째 시도')
    
    i=int(input('숫자 입력:'))
    if i <num:
        print(f'{i} 보다 큰 숫자입력')
       # try_count += 1 이렇게 if 마다 넣으면 숫자를 입력과 동시에 더하기때문에 4번째때에 이미 try count가 5가되서 바로 break 된다.
    elif i >num:
        print(f'{i} 보다 작은 숫자 입력')
       # try_count += 1
    elif i==num:
        print(f'{i} 정답')
        break
    if try_count == max_try:
        print(f'{try_count}번째 시도 횟수 초과 실패')
        break
    try_count += 1  #이렇게 마지막에 넣어야 비교를 다하고 마지막에 1을 더하니까
        
#print(f'{i} 정답입니다.')

40
1번째 시도
숫자 입력:1
1 보다 큰 숫자입력
2번째 시도
숫자 입력:2
2 보다 큰 숫자입력
3번째 시도
숫자 입력:3
3 보다 큰 숫자입력
4번째 시도
숫자 입력:4
4 보다 큰 숫자입력
5번째 시도
숫자 입력:5
5 보다 큰 숫자입력
5번째 시도 횟수 초과 실패

예측할 숫자를 생성
시도횟수를 저장할 변수 선언.
사용자로부터 숫자입력 받기
입력받은 숫자와 예측숫자를 비교한다.
    4-1 같으면 종료
    4-2 크면 "작은 숫자를 입력하세요" 출력
    4-3 작으면 '큰 숫자를 입력하세요' 출력
숫자를 맞출 때까지 3번,4번 반복..

In [ ]:
print("예측할 숫자:", num)
try_count = 1 # 시도횟수 저장할 변수
print(f'{try_count}번째시도")

In [193]:
import random
num= random.randint(1,100)#100도포함 1~100 사이의 정수를 실행시마다 랜덤 하게 반환
print('정답:',num)
try_count = 1
max_try = 5

while True:
    print(f'{try_count}번째 시도')
    k = int(input('1~100사이의 숫자를 입력하세요:'))
    if k == num:
        print (f'{try_count}번째 성공')
        break
    elif k > num: 
        print (f'{k} 보다 작은 값을 입력하세요~')
    elif k <num:
        print(f'{k} 보다 큰 값을 입력하세요~!')
    if max_try == try_count :
        print("="*30)
        print("시도 횟수 초과 실패!!")
        print("="*30)
        break
    try_count +=1
    print("-"*30)

정답: 33
1번째 시도
1~100사이의 숫자를 입력하세요:1
1 보다 큰 값을 입력하세요~!
------------------------------
2번째 시도
1~100사이의 숫자를 입력하세요:2
2 보다 큰 값을 입력하세요~!
------------------------------
3번째 시도
1~100사이의 숫자를 입력하세요:3
3 보다 큰 값을 입력하세요~!
------------------------------
4번째 시도
1~100사이의 숫자를 입력하세요:4
4 보다 큰 값을 입력하세요~!
------------------------------
5번째 시도
1~100사이의 숫자를 입력하세요:5
5 보다 큰 값을 입력하세요~!
==============================
시도 횟수 초과 실패!!
==============================