# 1월 11일

# 함수

```python
def 함수이름([변수,변수,....]):  #변수  : 파라미터,매개변수 //변수 선언할수도 있고 안할수도 있음
    실행문
    실행문
    [return 반환값]  #리턴이 실행 안되며 None 이 반환.
```

- 함수이름 :  관례적으로 소문자만 사용, 단어와 단어는 '-'로 연결.
    - 어떤 값을 제공하는 함수 :  get_제공하는 값
     - get_name(), get_age()
    - 어떤값을  변경하는 함수 : set_변경할값
     - set_name(), set_age()
    - 어떤 값을 제거 (삭제) : remove_삭제할 값
     - remove_name(),remove_age()

In [ ]:
1st 파이썬 표준라이브러리
2nd application(특정 프로젝트, 단체에서만 쓰려고 만든)
3rd party library (남이 만든것을 내가쓰거나 /공유하는 라이브러리 )

In [5]:
# 함수 정의 - 코드작성 + 실행(메모리에 올려서 호출 할 수있게 한다.)
def say_hello(): #선언부
    #구현부 (선언을 했으면 한줄이라도 구현을 해야한다.)
    print("안녕하세요")
    print('hello')

In [6]:
#호출 = 함수이름([전달할값])
say_hello()

안녕하세요
hello

In [7]:
say_hello()

안녕하세요
hello

In [177]:
def my_age():
    print(32)

In [178]:
my_age()

32

In [8]:
def say_hello2(name):  # name : 파라미터
    print(f'{name}님 안녕하세요')
    print(f'{name}님 hello')

In [9]:
say_hello2('김대민')

김대민님 안녕하세요
김대민님 hello

In [10]:
say_hello2('john')

john님 안녕하세요
john님 hello

In [364]:
def my_age(age,name):
    print(f'{name}의 나이는 {age}입니다.')

In [365]:
my_age(name='김대민',age=20) # 김대민 , 20 이라는 인수를 받기위한 매개변수(인자,parameter)2개 선언함

김대민의 나이는 20입니다.

In [366]:
my_age(name='김대민',age=20)

김대민의 나이는 20입니다.

In [2]:
def me(name,age):
    print(f'이름: {name} 나이:{age}')

In [4]:
me(name='김대민',age=32)

이름: 김대민 나이:32

In [5]:
def say_hello3(name):
    greeting = f'{name}님 안녕하세요. {name},hello'
    return greeting # 반환값(리턴밸류) 처리결과로서 호출한 곳에 전달// 호출한곳으로 돌아가라~

In [6]:
say_hello3('김대민')  # 호출한곳

'김대민님 안녕하세요. 김대민,hello'

In [9]:
r=say_hello3('박박')
print(r)
print(r*3)

박박님 안녕하세요. 박박,hello
박박님 안녕하세요. 박박,hello박박님 안녕하세요. 박박,hello박박님 안녕하세요. 박박,hello

In [18]:
g = say_hello3('이순신')  # 함수의 리턴 값을 변수에 저장할 수 있다.
print(g)
print(g*3)

이순신님 안녕하세요. 이순신,hello
이순신님 안녕하세요. 이순신,hello이순신님 안녕하세요. 이순신,hello이순신님 안녕하세요. 이순신,hello

In [11]:
def say_hello2(name):  # name : 파라미터
    print(f'{name}님 안녕하세요')
    print(f'{name}님 hello')   # return 값이 없어서 함수를 변수에넣고 실행하면 'None' 나온다.

In [12]:
r = say_hello2('책상')

책상님 안녕하세요
책상님 hello

In [13]:
print(r)  #리턴값이 없어서 None

None

In [205]:
def sum(n1,n2):
    result = n1 + n2
    return result

In [206]:
a=sum(10,20)
print(a)

30

In [19]:
def su(a,b):
    return a+b

In [20]:
c=su(10,10)
print(c)

20

In [22]:
def su1(a,b):
    print(a+b)

In [25]:
a=su1(10,20)
print(a)     #return 값이 없을때 반환 None
            # 함수에 return 값이 있어야 변수에도 넣었을때 print 할때 호출된 return  값을 반환할 수 있다.

30
None

In [207]:
sum(10,20)

30

In [208]:
#p두개의 숫자를 받아서 사칙연산 결과 반환
def calculate(num1,num2):  #매개변수 , 파라미터는 0개 이상 가능 
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    d = None
    # if num2 !=0: 0이아니면 나누기 해
    if num2 :# 0이면 폴스라서 진행안됨
        d = num1 / num2
    #num1 / num2
    #return [a,b,c,d,]    #{'덧셈':a ....}#(a,b,c,d)/리턴 값 : 반드시 하나만 가능 (결과값)
    return a,b,c,d,  #괄호생략한 튜플
#2번째 일

In [211]:
 # 1 번째 처리
result = calculate(10,5)
#3번째 처리
print(result)

(15, 5, 50, 2.0)

In [36]:
a,b,c,d = calculate(4,2)
print(f'덧셈: {a}, 뺄셈:{b}, 곱셈:{c}, 나누기:{d}')

덧셈: 6, 뺄셈:2, 곱셈:8, 나누기:2.0

In [223]:
def cal(nu1,nu2):
    a = nu1+nu2
    b = nu1-nu2
    c = nu1*nu2 
    d = None
    if nu2:
        d=nu1/nu2
        
    return a,b,c,d

In [214]:
n = cal(9,3)
print(n)

(12, 6, 27, 3.0)

In [227]:
m = cal(9,0)
print(m)

(9, 9, 0, None)

In [42]:
#p두개의 숫자를 받아서 사칙연산 결과 반환

def cal(num1,num2):
    a=num1+num2
    z=num1-num2
    c=num1*num2
    d=None
    if num2 != 0:  #b!=0 으로 하면 a-b가 b 이므로 0이 안되기때문에 나누기도 실행된다.
        d=num1/num2
    return a,z,c,d

In [43]:
cal(10,5)

(15, 5, 50, 2.0)

In [44]:
cal(10,0)

(10, 10, 0, None)

In [39]:
result = calculate(10,0) #나누기에서 오류 발생// 오류난 상태에서 진행을 멈춤 //호출한 곳과 함수 정의 한곳에 오류를 표시해줌/
                            #나누기 부분에 if문을 넣어서 0이 아닐때, 0이면 false가 되는것을 이용하여 문제 해결
result

(10, 10, 0, None)

--------------------------------------------------------------------------------------------------------------------------------###

## 매개변수 선언의 여러가지 문법

### 포지션널 파마미터 (아규먼트)
 - 매개변수를 순서대로 나열한것.
    - def my_func(a,b,c,):  ('abc 파라미터// 호출할때 전달값 아규먼트 // 파라미터에 아규먼트를 삽입한다.)
 - 호출할때 각 파라미터에 전달할 값을 순서대로 나열한다. 전달할 값을 생략할수 없다.
     - my_fun(10,20,30,)
       my_fun(10,20) c에 전달할 값이 없으므로 에러

In [ ]:
#기본값이 없는  매개 변수 포지셔널~/// 기본값이 없기때문에 위치에 맞춰서 갯수도 맞춰서 나열해야한다.

In [169]:
def print_info(name, age, tall):
    print(f'이름: {name}, 나이:{age}, 키:{tall}')

In [168]:
print_info('김대민',32)  # tall 에들어갈 값을 안넣어줘서 error 났음

NameError: name 'print_info' is not defined

In [170]:
print_info("홍길동", 20, 189)

이름: 홍길동, 나이:20, 키:189

In [171]:
print_info( 20, 189,"홍길동")  #위치가 중요하다.

이름: 20, 나이:189, 키:홍길동

In [172]:
print_info(tall=170, age=30, name='동동')

이름: 동동, 나이:30, 키:170

In [43]:
print_info( 20, 189)# 위치 (개수 )맞추고 안맞으면 에러 ,missing 1 required positional argument: 'tall'

TypeError: print_info() missing 1 required positional argument: 'tall'

In [230]:
def 오스트레일리아(처음, 두번째):
    print(f'{처음}는 첫번째로 살았던곳 {두번째}는 두번째로 살았던곳')

In [231]:
오스트레일리아('케언즈','골드코스트')

케언즈는 첫번째로 살았던곳 골드코스트는 두번째로 살았던곳

In [234]:
오스트레일리아('골드코스트') #

TypeError: 오스트레일리아() missing 1 required positional argument: '두번째'

In [235]:
오스트레일리아('골드코스트','케언즈')  #위치 틀리니 내용달라짐

골드코스트는 첫번째로 살았던곳 케언즈는 두번째로 살았던곳

### 기본값이 있는 매개변수
 - 매개변수를 선언할때 값을 대입한다.
 - 기본값이 있는 매개변수(파라미터)
 - 호출시 전달할 값(아규먼트)을 어떤 파라미터에 대입할 지 변수명으로 이용해 지정할 수 있다. (순서 상관없이// 아규먼트 없어도 기본값사용)

In [44]:
def print_info2(name=None, age=None, tall=None):
    print(f'이름: {name}, 나이:{age}, 키:{tall}')

In [45]:
print_info2("이순신", 20, 189.9)

이름: 이순신, 나이:20, 키:189.9

In [46]:
print_info2("이순신")  # name = 이순신 , age, tall 은 기본값

이름: 이순신, 나이:None, 키:None

In [3]:
def cloth(상의=None, 하의=None , 신발= None):
    print(f'저는 상의는 {상의}을 입고, 하의는 {하의}를 입고, 신발은 {신발}을 신었습니다.')

In [4]:
cloth()

저는 상의는 None을 입고, 하의는 None를 입고, 신발은 None을 신었습니다.

In [248]:
print(cloth('반바지','반바지','운동화'))

저는 상의는 반바지을 입고, 하의는 반바지를 입고, 신발은 운동화을 신었습니다.
None

In [249]:
print(cloth(하의='반바지',상의='셔츠',신발='운동화'))

저는 상의는 셔츠을 입고, 하의는 반바지를 입고, 신발은 운동화을 신었습니다.
None

In [47]:
#키워드 인자
print_info2(tall=180, age=40, name='홍길동') #순서 상관없이  / 지정함
                                            # 입력값이 들어갈 인자를 정해두었기 때문에 순서가 바뀌어도 상관없다

이름: 홍길동, 나이:40, 키:180

In [48]:
print_info(tall=170, age=30, name='동동')  # 지정은 할수 있음//but 아규먼트가 없으면 오류==>기본값이 없는 매개변수 일때

이름: 동동, 나이:30, 키:170

In [238]:
print_info(tall=170, age=30, name)

SyntaxError: positional argument follows keyword argument (<ipython-input-238-98958d56285f>, line 1)

In [10]:
def print_info(name, age, tall):
    print(f'이름: {name}, 나이:{age}, 키:{tall}')

In [11]:
print_info(age=32,name='daf',tall=134)

이름: daf, 나이:32, 키:134

### 기본값이 없는 매개변수와 기본값이 있는 매개 변수 같이 선언할때 /기본값이 없는 매개변수들을 먼저 선언해야한다.

## 기본값이 "있는" 매개변수 뒤에 기본값이 "없는" 매개변수를 선언할 수없다.

In [12]:
def print_info(name=None, age, tall):
    print(f'이름: {name}, 나이:{age}, 키:{tall}') # default 값이 없는변수가 뒤에 와서 syntaxerror 가 났다.

SyntaxError: non-default argument follows default argument (<ipython-input-12-1a08e8626be8>, line 1)

In [251]:
#기본값이 없는 매개변수: 입력값이 필수!! 없으면 아예 함수일 못함//기본값이 있는 매개 변수: 옵션 같은~ 있으면 일을 할수있고 없으면 기본값을 출력
def print_info3(name,age,address,tall=None,weight=None,):
    #if tall == None:
    print(f'이름:{name}, 나이:{age}, 키:{tall} ,weight:{weight}')  #기본값이 없는 애들이 뒤에오면 에러 난다.

In [252]:
print_info3('홍길동',20,'서울',180,80) #사진보기// goruf

이름:홍길동, 나이:20, 키:180 ,weight:80

In [14]:
def print_info9(name,age,address,tall=178,weight=None):
    print(f'이름:{name}나이:{age}주소:{address}키:{tall}몸무게:{weight}')

In [17]:
print_info9(name='안경',age=30,address='화성',weight=234)

이름:안경나이:30주소:화성키:178몸무게:234

In [20]:
print_info9('안경',30,'  ')

이름:안경나이:30주소:  키:178몸무게:None

In [ ]:
#기본값이 있는애들을 기본값이 나오도록 할때 매개변수를 지정하고 입력값을 넣는게 좋다/ 안그러면 그냥 순서대로 값이 들어가고 다른 변수가 기본값으로 나옴

In [253]:
def print_info3_1(tall=None,name,age,address,weight=None,):
    #if tall == None:
    print(f'이름:{name}, 나이:{age}, 키:{tall} ,weight:{weight}')    # 디폴트 값이 있는 매개변수가 앞으로 오니까 함수가 오류난다.

SyntaxError: non-default argument follows default argument (<ipython-input-253-efeeeae6b712>, line 1)

In [254]:
def info4(name=None, age=0, address=None, tall=None, weight=None,): 
    #만약 디폴트 값이 모두 없는 아규먼트 였다면 'tall'값만 입력하고 싶으면 앞에 자리를 채울 것들을 입력해야한다
    #ex) info(None,0,None,190,)==>포지셔널 인자// 순서대로 아규먼트 값을 넣고 tall 순서에서 채울 아규먼트 넣는다.
    print(f'이름:{name}, 나이:{age}, 키:{tall} ,weight:{weight}')

In [255]:
print(info4(tall=190))

이름:None, 나이:0, 키:190 ,weight:None
None

In [21]:
def info12(name, age, address, tall, weight,):
    print(f'이름:{name}, 나이:{age}, 키:{tall} ,weight:{weight}')

In [24]:
info12(1,1,1,1,tall=190)

TypeError: info12() got multiple values for argument 'tall'

## 가변인자
   - def 함수명(*변수명): 0~n개의 아규먼트 값들을 튜플로 묶어서 받는다.//가변인자 ==> 인자가 변할수 있다는 것
   - 관례적으로 변수명을 agrs

In [74]:
# 리스트를 받아서 총 합계를 구하는 함수

#핸드폰 보기 사진 
def sum_nums(num_list):
    print(num_list)

In [75]:
sum_nums([1,3,4,5,6])

[1, 3, 4, 5, 6]

In [25]:
def sum_nums2(*num_list):  #몇개가 들어가도 상관없음 .//변수가
    #튜플
    print(num_list)
    print(type(num_list))
    print(len(num_list))

In [26]:
nums = [10,20,30,40,50]

In [27]:
sum_nums2(nums)  #리스트 라는 한개의 값을 전달했음//튜플 안에 원소가 한개인(리스트자체가 하나의 원소)

([10, 20, 30, 40, 50],)
<class 'tuple'>
1

In [28]:
sum_nums2(*nums)  #리스트의 원소들을 풀어서 전달함./함수에 들어갔을때 다시 튜플로 나옴/ 값을 묶어서 주면 안되니까
                  #풀어진 원소를 튜플로 출력// * 이게 있다는 것은 자료구조일 것이다라는것을 알수있다ㅏ.

(10, 20, 30, 40, 50)
<class 'tuple'>
5

In [70]:
sum_nums2(1,2,3)

(1, 2, 3)
<class 'tuple'>
3

In [71]:
sum_nums2(1,2,3,4,5,6,7)   #

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>
7

In [30]:
def sum_nums2(*num_list):  #몇개가 들어가도 상관없음 .//변수가
    #튜플
    print(num_list)
    print(list(num_list))
    print(type(num_list))
    print(len(num_list))

In [31]:
nums = [59,49,73,59,68,48]

In [32]:
k = [1,3,3,5,6,4,3]

In [33]:
sum_nums2(nums,k)

([59, 49, 73, 59, 68, 48], [1, 3, 3, 5, 6, 4, 3])
[[59, 49, 73, 59, 68, 48], [1, 3, 3, 5, 6, 4, 3]]
<class 'tuple'>
2

In [34]:
sum_nums2(*nums,*k)  #nums, k 의 원소들을 다풀어서 튜플로 반환/ 다른 자료 구조로도 바꿀 수있다 -->list ..등등

(59, 49, 73, 59, 68, 48, 1, 3, 3, 5, 6, 4, 3)
[59, 49, 73, 59, 68, 48, 1, 3, 3, 5, 6, 4, 3]
<class 'tuple'>
13

 - def 함수명(**변수명)
     - 호출할 때 키워드 인자 형태로 전달하고 가변인수는 이것을 딕셔너리 로 처리 한다.
     - 관례적으로 변수명은 kwargs 로 준다.

In [268]:
def person_info(**info):  #딕셔너리로 처리// 키워드 인자로 받아야만 한다 //혹은 '**아규먼트' 같은 형식 풀어서 넘겨으로 받아야됨딕셔너리를 받는건 아니다
    print(info)
    print(type(info))
    print(len(info))

In [269]:
d={
    'id':'id-1',
    'password ': '1111',
    'name':'김회원'
}

In [270]:
person_info(**d) # **딕셔너리  ==> 'd'딕셔너리를 키워드 인자로 풀어달라는 명령이다.(풀어서 넘겨줘야만 한다.)이것을 함수에 넣으면 다시 딕셔너리로 뽑아준다.
#person_info('id': 'id-1', 'password ': '1111', 'name': '김회원')// 키워드 인자로 풀어넣어야 딕셔너리로 받을수 있다

{'id': 'id-1', 'password ': '1111', 'name': '김회원'}
<class 'dict'>
3

In [274]:
person_info(id ='id-1', password = '1111', name = '김회원')  # ==> 키워드 인자로 풀어서 넣었더니 딕셔너리 값으로 받았다.

{'id': 'id-1', 'password': '1111', 'name': '김회원'}
<class 'dict'>
3

In [271]:
person_info(d)    #//키워드 인자로 풀어넣어야 딕셔너리로 받을수 있다

TypeError: person_info() takes 0 positional arguments but 1 was given

In [ ]:
person_info()

In [256]:
def person_info(**info):  #딕셔너리로 처리// 딕셔너리를 받는건 아니다
    print(info)
    print(type(info))

In [257]:
#person_info('ghdrlfehd',20)
person_info(name='김길동', age=20)  #딕셔너리로 처리

{'name': '김길동', 'age': 20}
<class 'dict'>

In [80]:
person_info()

{}
<class 'dict'>

In [81]:
person_info(name = '김대민', age=46, address="qntks")  # 키워드 인자로 (갯수 상관없이) 넣으면 딕셔너리형태로 받음

{'name': '김대민', 'age': 46, 'address': 'qntks'}
<class 'dict'>

- 하나의 함수 정의당 가변인자는 각각 한개씩만 가능.// '*변수','**변수' 1개만 가능하다
- 가변인자와 일반 매개변수를 같이 선언할 경우 일반 매개변수를 먼저 선언해야하나.
- 이름 관례: \*args, \**kwargs

In [8]:
def test(a,b,*args):
    print(a,b,args)

In [9]:
test(1,2,3,4,5,5,6,7,)  #아규먼트가 갯수 제한 없이 들어간것을 볼수 있다.

1 2 (3, 4, 5, 5, 6, 7)

In [98]:
def test(a,b,*args,*args): #같은 종류의 가변 인자 2개이상 선언 할수 없다.
    print(a,b,args)

SyntaxError: invalid syntax (<ipython-input-98-affeb1ae3268>, line 1)

In [99]:
def test2(*args,**kwargs): #이건 가능
    print(args)
    print(kwargs)

In [109]:
i=test2(1,2,3,4,4,5,6,name='이름',address='주소')  # *args 는 튜플로 출력해주고 아규먼트 갯수상관없이 넣어줌//
print(i) #리턴값이 없어서 'None' 이 나온다.         #*&kwargs 는 키워드 인자로 아규먼트를 넣어줘서 딕셔너리로 처리 해줌

(1, 2, 3, 4, 4, 5, 6)
{'name': '이름', 'address': '주소'}
None

In [101]:
def test3(a,v,*args,**kwargs): #이건 가능
    print(args)
    print(kwargs)
    print(a,v)

In [102]:
test3(1,2,3,4,4,5,6,name='이름',address='주소')

(3, 4, 4, 5, 6)
{'name': '이름', 'address': '주소'}
1 2

In [ ]:
사진 #가변 매개 함수 단점 어려운점//제대로된 설명을 안 써주면 어떤의미의 값인지 알기가 어렵다.

In [39]:
def kan(a,c,*agrs,**kwargs):  #==>*d,*k 이런식으로 가변인자가 2개 이상 들어가거나 **f,**y이런식으로 2개이상 변수가 들어가면 안된다. 
    print(a,c)
    print(agrs)
    print(kwargs)
    # ==> *d,**u 이런식으로 한개씩 혹은 각 각 하나씩만 가능하다!

In [40]:
kan(1,2,3,4,5,dan='김대민',age =32,gender='male')

1 2
(3, 4, 5)
{'dan': '김대민', 'age': 32, 'gender': 'male'}

# 변수의 유효범위(Scope)

In [110]:
def my_func():
    #함수내에서 선언된 변수: 지역변수(로컬 베리어블) => 함수 내부에서만 사용가능
    x =10
    print(x)

In [111]:
my_func()

10

In [112]:
x  #정의된 함수 밖에서는 의미없다//지역변수

NameError: name 'x' is not defined

In [16]:
var = 1000 # (전역변수 , 글로벌 변수)

print(var)
print(var)

1000
1000

In [17]:
def test_func2():
    print(var)  #  여기서는 함수 안에서 var를 변수로 지정하지 않아서 1000이 나온다.

In [18]:
test_func2()

1000

In [22]:
def test_func3():
    global var #ㅠ이제부터 var에 값을 대입ㅎㅏ는 거서은 전역변수var에 하는 것이다.'//전역변수=global변수' 같은 의미이다.//
    var = 200 #전역변수 1000을 200으로 재할당한다.
    print(var)

In [23]:
test_func3()

200

In [24]:
var

200

In [42]:
var=1000

In [43]:
print(var) # 전역변수

1000

In [44]:
def test_func1():
    var = 50 #지역 변수
    print(var)

In [45]:
 test_func1()

50

In [46]:
print(var) #함수 안의 'var'(는 지역변수)와 밖의 var가 다르다
# 함수 안에서 호출한게 아니기때문에 전역변수의 값이 나온다./

1000

In [ ]:
##여기부터 복습

## 함수(Function)는 일급시민객체 (pdf에 없음)
### 일급시민객체
- 변수에 대입할 수 있는 값.(type)
- 함수 호출시 매개변수로 전달할 수 있는 값.(argument).(type)
- 함수의 반환값(return값)으로 사용할 수 있는 값..(type)

In [54]:
a = 10 #정수(int)
def test_func(num):
    print(num)
    return 10  #int 를 반환값

In [55]:
i = test_func(20)

20

In [56]:
print(i)

10

In [ ]:
#int 는 일급시민객체// 함수도 값(아이다!

In [74]:
# 함수의 이름 : hello  라는 이름을 가진 함수(안녕하세요라는 것을 출력하는)도 값이다. 
def hello():
    print('안녕하세요')
    return '안녕'

In [75]:
k=hello() # hello() 함수 호출

안녕하세요

In [76]:
print(k)  #return 값을 반환 // k=hello() hello()함수가 k라는 변수에 저장 되었고 k를 호출하면 return 값을 반환한다.

안녕

In [77]:
def hi(a):             # def hi(a): 함수의 리턴값을  k 라는 변수에 넣어서 다른 연산 등에 사용할 수있다.
    return (a+1)

In [79]:
k=hi(1)   # hi 함수의 리턴값을 변수 k 넣었다.

In [81]:
print(k+2) # 리턴값을 이용하여 덧셈을 햇다.

4

In [91]:
def bi(*a):
    return a

In [94]:
bi(11,2,2,3,4,5,6)

(11, 2, 2, 3, 4, 5, 6)

In [92]:
m=bi(11,2,2,3,4,5,6)

In [93]:
sum(m)

33

In [104]:
def hello():
    print('안녕하세요')
    return '안녕'

In [96]:
my_hello = hello # 마이 헬로우라는 이름을 하나더 부텨 준거다///하나의 함수에 이름을 추가// 함수 hello()를 마이 헬로에 대입(새로운 이름)

In [97]:
my_hello()           #hello 가 변수 역할

안녕하세요

'안녕'

In [99]:
hello()

안녕하세요

'안녕'

In [137]:
your_hello = hello

In [138]:
your_hello()

안녕하세요

In [101]:
your_hello1 = hello() #hello() 의 리턴값을 your_hello에 대입
your_hello = hello    #함수 hello 를 your_hello에 대입

안녕하세요

In [102]:
your_hello1

'안녕'

In [106]:
your_hello()

안녕하세요

'안녕'

In [43]:
def fu():
    print('수박')

In [140]:
def plus(num1,num2):
    return num1+num2  #리턴값이 있는 함수,

In [141]:
v= plus(1,2)  #플러스 함수를 "호출"해서 반환된 값을 변수 브이에 넣어라 
print(v)

3

In [142]:
v2 = plus #플러스 함수 자체를 브이2에 "대입  "플러스 함수가  v2라는 "이름도 생김 "

In [143]:
v2(3,4)

7

In [ ]:
#플러스, 브이투라는 이름으로 호출할수 있다

In [107]:
def plus(n1,n2):
    return(n1+n2)

In [108]:
plus(10,20)

30

In [109]:
cal = plus

In [110]:
cal(14,19)

33

In [111]:
plus == cal   # cal = plus 이렇게 이름을 하나 더준것이기 때문에 같은 함수가 되었다.

True

def cal(nu1,nu2):
    #처리할 값을 매개변수로 받겠다. , 처리 방법
    a = nu1+nu2  
    b = nu1-nu2
    c = nu1*nu2 
    d = None
    if nu2:
        d=nu1/nu2
        
    return a,b,c,d

In [114]:
def calculate(f):  #여기서 f는 변수 개수 //
    # n1n2를 어떻게 처리할지를 매개변수 Plus 라는 함수 로 (func)를 통해서 함수로 받는다.
    n1 = 20
    k2 = 20
    result = f(n1,k2)
    print(result)  # 어떻게 연산할지 모를경우

In [115]:
def aa(m1,m2):
    return(m1+m2)

In [116]:
calculate(aa)

40

In [117]:
def plus(num1,num2):  #plus 함수를 calculate 함수의 매개변수로 삽입하여 calculate 함수를 작동 시키겠다.
    return num1+num2

In [118]:
calculate(plus)

40

In [127]:
def cal (f):
    wage=30
    bonus=10
    k=10
    result = f(wage,bonus,k)  #su 함수 이름이 f 로 바뀐다고 생각하면 편할듯 f의 리턴값을 result 에 주고 리턴 받는다.
    return result

#     def su(a,b,c):  --> def f(a,b,c)
#     return a+b             return a+b  -->매개변수 개수만 맞춰 넣어주면 return 값은 상관없음.

In [128]:
def su(a,b,c):
    return a+b

In [129]:
cal(su)

40

In [63]:
def minus(num1,num2):
    return num1-num2

In [149]:
def multiply(num1,num2):
    return num1*num2

In [151]:
calculate(minus)

-10

In [152]:
calculate(multiply)

200

## # 튜플을 받아서 index 0 의 값을 반환

In [153]:
# 튜플을 받아서 index 0 의 값을 반환 (핸드폰 사진)
def get_key(tu):
    return tu[1]

In [154]:
get_key((1,2,3,)),get_key((10,5,7))

(2, 5)

In [92]:
def get_dan(k):
    return k[2]

In [93]:
get_dan([1,2,3,4,5,])

3

In [ ]:
kdm =

In [96]:
lst = [
    (1,2,3),
    (10,-10,5),
    (0,100,1)
]

In [158]:
# sorted(iterable, key = 함수) 정렬 : 오름/내림차순
#원소 하나하나를 함수의 매개 변수에 전달. 그함수가 반환하는 값을 기준으로 정렬.

In [159]:
sorted(lst, key=함수) #오름차순

NameError: name '함수' is not defined

# 이부분오늘 리뷰때 잘보기

In [130]:
def get_key(tu):   # 여기에 lst 를 매개 변수로 넣고 lst의 원소들을 하나하나 함수에 적용시켜서 인덱스 0번의 원소를 비교해서 정렬
    return tu[0]

In [131]:
lst = [
    (1,2,3),
    (10,-10,5),
    (0,100,1)
]

In [133]:
get_key(lst)

(1, 2, 3)

In [132]:
sorted(lst, key=get_key)   #인덱스 넘버 0 에 잇는 숫자를 기준으로 //def get_key함수가 반환해주는 값을 기준으로

[(0, 100, 1), (1, 2, 3), (10, -10, 5)]

In [134]:
def get_r(dan):
    return dan[1]

In [135]:
lt = [
    ('d','k','h'),
    ('e','t','e'),
    ('y','u','z')
]

In [136]:
sorted(lt, key=get_r)  #==>하나의 형식으로 외우자

[('d', 'k', 'h'), ('e', 't', 'e'), ('y', 'u', 'z')]

In [137]:
lt[0]

('d', 'k', 'h')

In [139]:
get_r(lt[0])

'k'

In [161]:
lst[0]

(1, 2, 3)

In [105]:
get_key(lst[2]) #0:2, 1:-10,2:100    1,0,2

0

In [149]:
def tu_sum(tu):
    return sum(tu)

In [150]:
tu_sum((1,2,3,4,5))

15

In [151]:
tu_sum([1,2,3,4,5,6,])

21

In [ ]:
lst = [
    (1,2,3),
    (10,-10,5),
    (0,100,1)
]

In [165]:
sorted(lst, key=tu_sum) #정렬기준: 원소의 총합이 작은순서

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

In [166]:
lst[0]

(1, 2, 3)

In [167]:
sorted(lst, key=tu_sum,reverse=True)

[(0, 100, 1), (1, 2, 3), (10, -10, 5)]

## 람다 표현식(람다식 -  람다 익스프레션)
 - 단일 구문으로 표현하는 익명함수
     -익명함수: 이름(함수선언)이 없이 구현만 가지고 있는 함수 표현식.
 - 일회성 사용 함수를 만들때 주로 사용.
     -함수호출시  매개변수에 함수를 전달할 때 많이 사용.
 - 구문
```python
lambda [매개변수] : 실행문 <== 이런 형식으로 만듦
```
- 실행문: 하나의 구문만 가능. 실행문의 처리결과를 자동으로 반환한다 (리턴구문 필요없음(생략))

def plus(num1,num2):       ==     p = lambda num1, num2: num1+num2 
   return num1+num2        ==     p(10,20)

In [158]:
p = lambda num1, num2: num1+num2  #리턴이 (리턴이 원래 있다고 생각하면됨)생략 return num1+num2 됐기때문에 처리값을 바로 반환해준다.
p(10,20)

30

In [141]:
kdm =lambda num1,num2 : num1*num2   # ""변수 = lambda 매개변수 : 실행구문 ""
kdm (20,10)                          # 호출할때 --> 변수(매개변수)

200

In [162]:
k = lambda m1, m2 : m1*m2
k(4,5)

20

In [142]:
def calculate(func):
    # n1n2를 어떻게 처리할지를 매개변수 (func)를 ㅗㅇ해서 함수로 바는다.
    n1 = 10
    n2 = 20
    result = func(n1,n2)
    print(result)

In [143]:
calculate(kdm)

200

In [163]:
calculate(k)

200

In [164]:
calculate(p)

30

In [145]:
cal(lambda k,d,m:k+d+m)

50

In [172]:
calculate(lambda num1, num2: num1+num2)

30

In [173]:
calculate(lambda num1, num2: num1-num2)

-10

## def calculate(lambda x,y:x*y):
    # n1n2를 어떻게 처리할지를 매개변수 (func)를 ㅗㅇ해서 함수로 바는다.
    n1 = 10
    n2 = 20
    result = func(n1,n2)
    print(result)

In [146]:
def cal1(u):
    k=10
    d=20
    m=30
    result=u(k,d,m)
    return result

In [147]:
cal1(lambda a,b,c : a+b+c)

60

In [288]:
def calculate(func):
    # n1n2를 어떻게 처리할지를 매개변수 (func)를 ㅗㅇ해서 함수로 바는다.
    n1 = 10
    n2 = 20
    result = func(n1,n2)
    print(result)

In [174]:
calculate(lambda x,y:x*y)  ##칼큘레이터 위에있는 함수에 매개변수로 들어가서

200

In [ ]:
#원소 하나하나를 함수의 매개 변수에 전달. 그함수가 반환하는 값을 기준으로 정렬.

In [149]:
lst = [
    (1,3,4),
    (5,4,7),
    (9,7,3)
]
#원소 하나하나를 함수의 매개 변수에 전달. 그함수가 반환하는 값을 기준으로 정렬.

In [150]:
for n in lst[:3]:
    print(n)

(1, 3, 4)
(5, 4, 7)
(9, 7, 3)

In [151]:
sorted(lst,key=lambda t: sum(t))    #lambda 매개변수 : 리턴값 = key

[(1, 3, 4), (5, 4, 7), (9, 7, 3)]

In [305]:
#튜플들의 총합을 기준으로 sorting
sorted(lst, key=lambda t:sum(t))

[(1, 3, 4), (5, 4, 7), (9, 7, 3)]

In [304]:
#튜플들의 총합을 기준으로 sorting
sorted(lst, key=lambda t:sum(t))

[(1, 3, 4), (5, 4, 7), (9, 7, 3)]

In [161]:
def tu_sum(tu):
    return sum(tu)

In [162]:
sorted(lst, key=lambda tu:tu_sum(tu))

[(1, 3, 4), (5, 4, 7), (9, 7, 3)]

In [164]:
str_list=['adfasd','bsdff','dbgv','gjfdlkdsfa','ffoo']
sorted(str_list)

['adfasd', 'bsdff', 'dbgv', 'ffoo', 'gjfdlkdsfa']

In [177]:
#글자수 많은 순서대로 정렬
sorted(str_list, key=check_length)
sorted(str_list, key= lambda k : len(k))

['dbgv', 'ffoo', 'bsdff', 'adfasd', 'gjfdlkdsfa']

In [165]:
sorted(str_list, key= lambda k : len(k))

['dbgv', 'ffoo', 'bsdff', 'adfasd', 'gjfdlkdsfa']

In [167]:
def check_length(s):
    return len(s)

In [168]:
sorted(str_list, key=check_length)   # check length 의 리턴값을 기준으로 정렬

['dbgv', 'ffoo', 'bsdff', 'adfasd', 'gjfdlkdsfa']

In [178]:
sorted(str_list, key=lambda x : len(x))

['dbgv', 'ffoo', 'bsdff', 'adfasd', 'gjfdlkdsfa']

In [179]:
sorted(str_list, key=lambda x : len(x), reverse=True)

['gjfdlkdsfa', 'adfasd', 'bsdff', 'dbgv', 'ffoo']

In [182]:
sorted(str_list, key=len)

['dbgv', 'ffoo', 'bsdff', 'adfasd', 'gjfdlkdsfa']

In [183]:
sorted(str_list, key=len, reverse=True)

['gjfdlkdsfa', 'adfasd', 'bsdff', 'dbgv', 'ffoo']

In [169]:
# 딕셔너리 정렬
dic={
    "b" : 100,
    "a" : 200,
    "c" : 50
}

In [186]:
sorted(dic) # key값들을 정렬한뒤 리스트로 반환.

['a', 'b', 'c']

In [187]:
# value를 기준으로 정렬을 하려는 경우. (전제: value의 데이터 타입이 동일한 경우.)
result = sorted(dic.items(), key=lambda x:x[1])
sorted_dic={ k: v for k,v in result}
sorted_dic

dict_items([('b', 100), ('a', 200), ('c', 50)])

In [172]:
# value를 기준으로 정렬을 하려는 경우. (전제: value의 데이터 타입이 동일한 경우.)
sorted(dic.items, key=lambda x:x[1])

TypeError: 'builtin_function_or_method' object is not iterable

------------------------------------------여기부터-----------------------------------------------------------------------------------

- filter(함수, iterable) : iterable 의 원소들중에 특정 조건을 만족하는 원소들만 걸러주는 함수.
 - 함수 : bool 값을 반환, 매개변수는 1개 .
 - 이터러블의 원소 하나하나를 함수의 매개 변수로 전달. 함수가 True를 반환하는 원소만 반환.

- map(함수, iterable) : 이터러블의 원소들 하나하나를 처리해서 그처리결과를 반환
    -함수 :  어떻게 처리할지를 정의 , 매개변수 1개, 반환값을 원소를 처리한 결과.
 -

- 필터/맵 함수의 반환타입은 이터러블(generator)

In [ ]:
# 맵핑

In [177]:
list(range(1,11))=num_list

SyntaxError: cannot assign to function call (<ipython-input-177-5d82df122a63>, line 1)

In [174]:
num_list = list(range(1,11))
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [175]:
# 넘리스트의 원소 10배한 값을 반환.
m=map(lambda x : x*10, num_list)
#m
list(m)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [185]:
d,k= map(int,input().split())
print(d,k)

12 34
12 34

In [ ]:
def change(x):
    return x*10  #함수로 했을때 매핑  (여러 식이 들어가면 람다로 사용할수 없다.)

In [205]:
for i in m:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [ ]:
[i*10 for i in num_list]  #==> 컴프리헨션으로 매핑함

## 필터링

filter(함수, iterable) : iterable 의 원소들중에 특정 조건을 만족하는 원소들만 걸러주는 함수.

함수 : bool 값을 반환, 매개변수는 1개 .
이터러블의 원소 하나하나를 함수의 매개 변수로 전달. 함수가 True를 반환하는 원소만 반환.

In [207]:
num_list = list(range(1,11))
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [189]:
num_list = list(range(100))
f=filter(lambda x:x%10==0, num_list)

for i in f:
    print(i)

0
10
20
30
40
50
60
70
80
90

In [199]:
f=filter(lambda x:x%10==0, num_list)
print(list(f))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [200]:
print(list(f))  #반복을 한번씩 다해서  더이상 줄값이 없어진다고 생각하면됨

[]

In [ ]:
# 핸드폰 사진 보기

In [198]:
[i for i in num_list if i%10==0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [211]:
f= filter(lambda x:x%10==0,num_list)

In [212]:
print(list(f))

[10]

In [201]:

def check(x):
    a=[]
    for i in x:
        if int(i)%10==0:
            a.append(i)  # 함수로 했을때 필터링
    return a

In [202]:
check(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

## docstring   
- 함수/ class 대한 설명
- 함수선언부와 구현부 사이에 여러줄 짜리 문자열(''' ''')로 작성한다.
- 함수가 하는 역할, 매개변수 설명, 리턴값 설명

In [ ]:
def print_info(name ,age , address):
    """ex)
    
    회원 정보 함수
    설명
    설명1
    [매개변수]
        name: str - 회원 이름
        age : int - 회원이름
        address : str - 회원주소
    [반환값]
        None
        int: 나이의 10곱한값
    """
    print(f'이름:{name}, 나이:{age}, 주소:{address}' )
    return age*10

In [ ]:
?print_info

In [ ]:
print_info  #shift +tab

## pass 키워드(예약어)
- 코드블럭을 하는일 없이 채울때 .// 임시로 "while, if ,def ,for in" 등등등

In [ ]:
def test():
    pass
    # 구현 나중에 하고 싶을때 // 조건문, 정의 에서 구문을 나중에 넣고 구현하려고 할때

In [ ]:
for i in range(10):
    pass

## 문제!!

In [314]:
# 1. 사용자가 입력한 단의 구구단을 출력하는 함수를 구현
def gugudan():
    dan = int(input("단을 입력하시오:"))  #문자열로 입력 하면 안되니까 int 로 정수로 변환 해줘야한다.
    for x in range(1,10):
        print('{} X {} = {}'.format(dan, x, dan*x)) #print(f'{dan}X{x}={dan*x}')

In [315]:
gugudan()

단을 입력하시오:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [316]:
def gugudan1():
    dan = int(input('단:'))
    for k in range(1,10):
        print(f'{dan}X{k}={dan*k}')

In [317]:
gugudan1()

단:5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45

In [328]:
# 2. 시작 정수, 끝 정수를 받아 그 사이의 모든 정수의 합을 구해서 반환하는 함수를 구현

def sum_k(a,b):
    a =0
    for i in range(min(a,b),max(a,b)+1):
        a +=i
    return a

In [329]:
sum_k(10,1)

1

In [ ]:
def sum_m(a,b):

In [321]:
def sumall(num1, num2):
    return sum(range(min(num1,num2), max(num1,num2)+1))   #영일+나

In [322]:
sum_k(1,10), sum_k(1,100)

(55, 5050)

In [246]:
?sum_k

In [ ]:
def sumall(num1, num2):
    return sum(range(num1, num2+1))  #영일님

In [ ]:
def accumulate(start,end):
    '''
    핸드폰 사진 '도큐레이팅'
    '''
    r

In [330]:
# 3. 1번 문제에서 시작을 받지 않은 경우 0을, 끝 정수를 받지 않으면 10이 들어가도록 구현을 변경
# 기본값이 있는  매개함수


def sum_k1(a=0,b=10):
    a =0
    for i in range(min(a,b),max(a,b)+1):
        a +=i
    return a

In [334]:
sum_k1(a,5)

15

In [263]:
lst = []

def my_sum2(num1=0, num2=10):
    for i in range(num1, num2+1):
        lst.append(i)
    return sum(lst)    #주연

In [264]:
my_sum2(),my_sum2(5)

(55, 100)

In [ ]:
#영일
def sumall(num1=0, num2=10):
#    if num1 == None:
#        num1 == 0
#    if num2 == None:
#        num2 == 9
    return sum(range(min(num1,num2), max(num1,num2)+1))

In [335]:
# 4. 체질량 지수(體質量指數, Body Mass Index, BMI)는 비만도를 나타내는 지수로 키가 a미터 이고 몸무게가 b kg일때 b/a**2 로 구한다.
# 체질량 지수가
#- 18.5 미만이면 저체중
#- 18.5이상 25미만이면 정상
#- 25이상이면 과체중
#- 30이상이면 비만으로 하는데
#몸무게와 키를 매개변수로 받아 비만인지 과체중인지 반환하는 함수를 구현하시오.

def check_bmi(tall,weight):
    '''
    비엠아이 지수 계산해서 비만도 반환
    [매개변수]
        tall:double - 키(미ㅓ)
        weight: double -몸무게(kg)
    [반환값]
        str : 비만도(저체중, 정상, 과체중,비만)
    '''
    bmi = weight/(tall**2)
    result = None
    if bmi <18.5:
        result ='저체중'
    elif bmi <25:
         result ='정상'
    elif bmi <30:
         result ='과체중'
    else:
        result='qlaks'
    return bmi, result

In [336]:
r = check_bmi(1.8,70.5)
print(r)

(21.75925925925926, '정상')

In [ ]:
# 4. 체질량 지수(體質量指數, Body Mass Index, BMI)는 비만도를 나타내는 지수로 키가 a미터 이고 몸무게가 b kg일때 b/a**2 로 구한다.
# 체질량 지수가
#- 18.5 미만이면 저체중
#- 18.5이상 25미만이면 정상
#- 25이상이면 과체중
#- 30이상이면 비만으로 하는데
#몸무게와 키를 매개변수로 받아 비만인지 과체중인지 반환하는 함수를 구현하시오.

In [341]:
def biman(a,b):
    bmi=(b/a**2)
    a=None
    if bmi<18.5:
        a ='저체중'
    elif bmi < 25:
        a='정상'
    elif 25 <=bmi:
        a='과체중'
    else:
        a='비만'
    return print(a)

In [339]:
biman(1.8,100)

과체중

In [342]:
def biman1(a,b):
    if b/a**2 < 18.5:                                 
        print('저체중')
    elif 18.5 < b/a**2 < 25:
        print('정상')
    elif 25 < b/a**2:
        print('과체중')
    else:
        print('비만')
    return

In [344]:
biman1(1.9,50)

저체중

In [351]:
list(f), list(k)

([1, 20, 3, 21], [1, 20, 3, 21])

In [ ]:
list(filter(lambda x:x>0, ex1))

In [277]:
[i for i in ex1 if i>0]

[1, 20, 3, 21]

In [361]:
#6. filter와 map을 이용해 다음 리스트에서 음수만 추출한 뒤 그 제곱한 값들을 가지는 리스트를 구현
ex2 = [1, -10, -2, 20, 3, -5, -7, 21]
ex3= [1, -10, -2, 20, 3, -5, -7, 21]

o=filter(lambda u: u<0,ex3)
q=map(lambda u:u**2,f)

In [362]:
list(q)

[]

In [284]:
[i**2 for i in ex2 if i < 0]

[100, 4, 25, 49]

In [363]:
f= filter(labda x : x < 0, ex2)
m= map(lambda x:x**2,f)

SyntaxError: invalid syntax (<ipython-input-363-aa488ba5e76a>, line 1)

In [ ]:
# m= map(lambda x:x**2,filter(labda x : x < 0, ex2))

In [ ]:
함수1(함수2()) #1. 함수2() 2.함수1() 함수2()의 처리결과를 전b달

In [216]:
# 1. 사용자가 입력한 단의 구구단을 출력하는 함수를 구현
def gogo():
    dan=int(input())
    for i in range(1,10):
        print(f'{dan}X{i}={dan*i}')

In [217]:
gogo()

2
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

In [218]:
# 2. 시작 정수, 끝 정수를 받아 그 사이의 모든 정수의 합을 구해서 반환하는 함수를 구현
def hap(a,b):
    ha=0
    for i in range(a,b+1):
        ha+=i
    return ha

In [219]:
hap(2,19)

189

In [221]:
# 3. 1번 문제에서 시작을 받지 않은 경우 0을, 끝 정수를 받지 않으면 10이 들어가도록 구현을 변경
def hap1(a=0,b=10):
    h=0
    for i in range(a,b+1):
        h+=i
    return h

In [222]:
hap1()

55

In [225]:
def hap2(a=0,b=10):
    return sum(i for i in range(a,b+1))

In [226]:
hap2()

55

In [244]:
# 4. 체질량 지수(體質量指數, Body Mass Index, BMI)는 비만도를 나타내는 지수로 키가 a미터 이고 몸무게가 b kg일때 b/a**2 로 구한다.
# 체질량 지수가
#- 18.5 미만이면 저체중
#- 18.5이상 25미만이면 정상
#- 25이상이면 과체중
#- 30이상이면 비만으로 하는데
#몸무게와 키를 매개변수로 받아 비만인지 과체중인지 반환하는 함수를 구현하시오.


def bmi(a,b):
    bm= b/(a**2)
    #result = None
    if bm < 18.5:
        result = '저체중'
    elif bm < 25:
        result = '정상'
    elif bm <= 30:
        result = '과체중'
    else:
        result ='비만'
    return result, bm

In [240]:
def check_bmi(tall, weight):
    bmi = weight/(tall**2)
    result = None
    if bmi < 18.5:
        result = "저체중"
    elif bmi < 25:
        result = "정상"
    elif bmi <30:
        result = '과체중'
    else:
        result = "비만"
    return bmi, result

In [245]:
bmi(1.75,84)

('과체중', 27.428571428571427)

In [247]:
# 람다식
#5. filter를 이용해 다음 리스트에서 양수만 추출히 리스트를 구현
ex1 = [1, -10, -2, 20, 3, -5, -7, 21]
k=filter(lambda x:x>0,ex1)

In [250]:
print(list(k))

[1, 20, 3, 21]

In [252]:
#6. filter와 map을 이용해 다음 리스트에서 음수만 추출한 뒤 그 제곱한 값들을 가지는 리스트를 구현
ex2 = [1, -10, -2, 20, 3, -5, -7, 21]

i=map(lambda v : v**2,filter(lambda x:x<0,ex2))
list(i)

[100, 4, 25, 49]